# **Mini Project #1- Extra Credit**

B_03

Preethi Peelamedu Surendran

Submit all of this as public Kaggle notebooks/Google collab notebooks. One submission per team.



# 1.   Import data from kaggle

## 1.1 import data from kaggle

In [ ]:
! pip install kaggle
! mkdir ~/.kaggle
! cp kaggle.json ~/.kaggle/
! chmod 600 ~/.kaggle/kaggle.json

Requirement already satisfied: kaggle in /usr/local/lib/python3.10/dist-packages (1.5.16)
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.10/dist-packages (from kaggle) (1.16.0)
Requirement already satisfied: certifi in /usr/local/lib/python3.10/dist-packages (from kaggle) (2023.7.22)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.10/dist-packages (from kaggle) (2.8.2)
Requirement already satisfied: requests in /usr/local/lib/python3.10/dist-packages (from kaggle) (2.31.0)
Requirement already satisfied: tqdm in /usr/local/lib/python3.10/dist-packages (from kaggle) (4.66.1)
Requirement already satisfied: python-slugify in /usr/local/lib/python3.10/dist-packages (from kaggle) (8.0.1)
Requirement already satisfied: urllib3 in /usr/local/lib/python3.10/dist-packages (from kaggle) (2.0.7)
Requirement already satisfied: bleach in /usr/local/lib/python3.10/dist-packages (from kaggle) (6.1.0)
Requirement already satisfied: webencodings in /usr/local/lib/python3.10/dist-packages (from bleach->kaggle) (0.5.1)
Requirement already satisfied: text-unidecode>=1.3 in /usr/local/lib/python3.10/dist-packages (from python-slugify->kaggle) (1.3)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.10/dist-packages (from requests->kaggle) (3.3.1)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests->kaggle) (3.4)
mkdir: cannot create directory ‘/root/.kaggle’: File exists

In [ ]:
! kaggle datasets download yelp-dataset/yelp-dataset

Downloading yelp-dataset.zip to /content
 99% 4.05G/4.07G [00:24<00:00, 260MB/s]
100% 4.07G/4.07G [00:24<00:00, 181MB/s]

In [ ]:
!unzip yelp-dataset.zip

Archive:  yelp-dataset.zip
  inflating: Dataset_User_Agreement.pdf
  inflating: yelp_academic_dataset_business.json
  inflating: yelp_academic_dataset_checkin.json
  inflating: yelp_academic_dataset_review.json
  inflating: yelp_academic_dataset_tip.json
  inflating: yelp_academic_dataset_user.json

## 1.2 set up Pandas and MySQL

In [ ]:
import numpy as np
import pandas as pd

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

import json
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
from sqlalchemy import create_engine
!pip install PyMySql
import pymysql
import sqlalchemy

Collecting PyMySql
  Downloading PyMySQL-1.1.0-py3-none-any.whl (44 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 44.8/44.8 kB 1.4 MB/s eta 0:00:00
Installing collected packages: PyMySql
Successfully installed PyMySql-1.1.0

In [ ]:
username = 'B03' # Your team name
password = 'B03password'
host = 'testproject.mysql.database.azure.com'
database = 'B03'  # Your team name

connection_string = f"mysql+pymysql://{'B03'}:{'B03password'}@{'testproject.mysql.database.azure.com'}/{'B03'}"

ssl_args = {
    'ssl_ca': 'path_to/ca-cert.pem',
    'ssl_cert': 'path_to/client-cert.pem',
    'ssl_key': 'path_to/client-key.pem'
}

engine = create_engine(
    connection_string,
    connect_args={'ssl': ssl_args})

# 2. Explore JSON and convert into MySQL

## 2.1 business

In [ ]:
business = pd.read_json('yelp_academic_dataset_business.json', lines=True)
business.head()

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,attributes,categories,hours
0,Pns2l4eNsfO8kk83dixA6A,"Abby Rappoport, LAC, CMQ","1616 Chapala St, Ste 2",Santa Barbara,CA,93101,34.426679,-119.711197,5.0,7,0,{'ByAppointmentOnly': 'True'},"Doctors, Traditional Chinese Medicine, Naturop...",None
1,mpf3x-BjTdTEA3yCZrAYPw,The UPS Store,87 Grasso Plaza Shopping Center,Affton,MO,63123,38.551126,-90.335695,3.0,15,1,{'BusinessAcceptsCreditCards': 'True'},"Shipping Centers, Local Services, Notaries, Ma...","{'Monday': '0:0-0:0', 'Tuesday': '8:0-18:30', ..."
2,tUFrWirKiKi_TAnsVWINQQ,Target,5255 E Broadway Blvd,Tucson,AZ,85711,32.223236,-110.880452,3.5,22,0,"{'BikeParking': 'True', 'BusinessAcceptsCredit...","Department Stores, Shopping, Fashion, Home & G...","{'Monday': '8:0-22:0', 'Tuesday': '8:0-22:0', ..."
3,MTSW4McQd7CbVtyjqoe9mw,St Honore Pastries,935 Race St,Philadelphia,PA,19107,39.955505,-75.155564,4.0,80,1,"{'RestaurantsDelivery': 'False', 'OutdoorSeati...","Restaurants, Food, Bubble Tea, Coffee & Tea, B...","{'Monday': '7:0-20:0', 'Tuesday': '7:0-20:0', ..."
4,mWMc6_wTdE0EUBKIGXDVfA,Perkiomen Valley Brewery,101 Walnut St,Green Lane,PA,18054,40.338183,-75.471659,4.5,13,1,"{'BusinessAcceptsCreditCards': 'True', 'Wheelc...","Brewpubs, Breweries, Food","{'Wednesday': '14:0-22:0', 'Thursday': '16:0-2..."

In [ ]:
business.to_sql(name = "business", con = engine, if_exists='replace', index=True, dtype={'attributes': sqlalchemy.types.JSON, 'hours': sqlalchemy.types.JSON}, chunksize=50000)

150346

In [ ]:
elite = pd.DataFrame(user[['user_id', 'elite']])

elite_up = (elite.assign(elite = elite['elite'].str.split(',')).explode('elite').reset_index(drop = True))
elite_up.head()

NameError: ignored

In [ ]:
!pip install mysqlclient
%reload_ext sql
%sql mysql://B03:B03password@testproject.mysql.database.azure.com:3306/B03

Requirement already satisfied: mysqlclient in /usr/local/lib/python3.10/dist-packages (2.2.0)

In [ ]:
#create a new table business_new
%%sql
CREATE TABLE business_new (
  id varchar(255) NOT NULL,
  business_id varchar(255),
  name varchar(255),
  address varchar(255),
  city varchar(255),
  state varchar(255),
  postal_code varchar(255),
  latitude float DEFAULT NULL,
  longitude float DEFAULT NULL,
  stars float DEFAULT NULL,
  review_count bigint DEFAULT NULL,
  is_open bigint DEFAULT NULL,
  attributes json DEFAULT NULL,
  hours json DEFAULT NULL,
  `Group` text,
  PRIMARY KEY (id)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;

 * mysql://B03:***@testproject.mysql.database.azure.com:3306/B03
(MySQLdb.OperationalError) (1050, "Table 'business_new' already exists")
[SQL: CREATE TABLE business_new (
  id varchar(255) NOT NULL,
  business_id varchar(255),
  name varchar(255),
  address varchar(255),
  city varchar(255),
  state varchar(255),
  postal_code varchar(255),
  latitude float DEFAULT NULL,
  longitude float DEFAULT NULL,
  stars float DEFAULT NULL,
  review_count bigint DEFAULT NULL,
  is_open bigint DEFAULT NULL,
  attributes json DEFAULT NULL,
  hours json DEFAULT NULL,
  `Group` text,
  PRIMARY KEY (id)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

**THIS IS THE TABLE THAT WILL BE USED FOR EXECUTING THE FINAL QUERIES**

In [ ]:
#insert from business table to business_new
%%sql
INSERT INTO business_new (
  id, name, address, city, state, postal_code, latitude,
  longitude, stars, review_count, is_open, attributes, hours, `Group`
)
SELECT business_id, name, address, city, state, postal_code,
       latitude, longitude, stars, review_count, is_open, attributes, hours, `Group`
FROM business;

 * mysql://B03:***@testproject.mysql.database.azure.com:3306/B03
150346 rows affected.

[]

## 2.2 checkin

In [ ]:
checkin = pd.read_json('yelp_academic_dataset_checkin.json', lines=True)
checkin.head()

              business_id                                               date
0  ---kPU91CF4Lq2-WlRu9Lw  2020-03-13 21:10:56, 2020-06-02 22:18:06, 2020...
1  --0iUa4sNDFiZFrAdIWhZQ  2010-09-13 21:43:09, 2011-05-04 23:08:15, 2011...
2  --30_8IhuyMHbSOcNWd6DQ           2013-06-14 23:29:17, 2014-08-13 23:20:22
3  --7PUidqRWpRSpXebiyxTg  2011-02-15 17:12:00, 2011-07-28 02:46:10, 2012...
4  --7jw19RH9JKXgFohspgQw  2014-04-21 20:42:11, 2014-04-28 21:04:46, 2014...

In [ ]:
# Split the 'date' column on commas
checkin['date'] = checkin['date'].str.split(',')

# Remove any extra spaces and handle NaN values
checkin['date'] = checkin['date'].apply(lambda x: [date.strip() for date in x] if isinstance(x, list) else [])

# "Explode" the DataFrame so each date gets its own row
checkin = checkin.explode('date').reset_index(drop=True)

In [ ]:
checkin.to_sql(name="checkin", con=engine, if_exists='replace', index=True, chunksize=10000)

13356875

In [ ]:
%%sql
CREATE TABLE checkin_new (
  id INT AUTO_INCREMENT,
  business_id varchar(255),
  date varchar(255),
  PRIMARY KEY (id),
  CONSTRAINT fk_new_checkin_business
    FOREIGN KEY (business_id)
    REFERENCES business_new (id)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;

 * mysql://B03:***@testproject.mysql.database.azure.com:3306/B03
0 rows affected.

[]

In [ ]:
%%sql
INSERT INTO checkin_new (business_id, date)
SELECT business_id, date
FROM checkin;

 * mysql://B03:***@testproject.mysql.database.azure.com:3306/B03
13356875 rows affected.

[]

## 2.3 review

In [ ]:
review_file_path = 'yelp_academic_dataset_review.json'

# Define the chunk size (you can adjust this based on your available memory)
chunk_size = 10000

# Initialize an empty list to store dataframes
review = []

# Create an iterator to read the dataset in chunks
review_iterator = pd.read_json(review_file_path, lines=True, chunksize=chunk_size)

# Iterate through the chunks and store them in the list
for chunk in review_iterator:
    review.append(chunk)

# Concatenate the chunks to create the complete dataframe
review = pd.concat(review, ignore_index=True)

In [ ]:
review.head()

,review_id,user_id,business_id,stars,useful,funny,cool,text,date
0,KU_O5udG6zpxOg-VcAEodg,mh_-eMZ6K5RLWhZyISBhwA,XQfwVwDr-v0ZS3_CbbE5Xw,3,0,0,0,"If you decide to eat here, just be aware it is...",2018-07-07 22:09:11
1,BiTunyQ73aT9WBnpR9DZGw,OyoGAe7OKpv6SyGZT5g77Q,7ATYjTIgM3jUlt4UM3IypQ,5,1,0,1,I've taken a lot of spin classes over the year...,2012-01-03 15:28:18
2,saUsX_uimxRlCVr67Z4Jig,8g_iMtfSiwikVnbP2etR0A,YjUWPpI6HXG530lwP-fb2A,3,0,0,0,Family diner. Had the buffet. Eclectic assortm...,2014-02-05 20:30:30
3,AqPFMleE6RsU23_auESxiA,_7bHUi9Uuf5__HHc_Q8guQ,kxX2SOes4o-D3ZQBkiMRfA,5,1,0,1,"Wow! Yummy, different, delicious. Our favo...",2015-01-04 00:01:03
4,Sx8TMOWLNuJBWer-0pcmoA,bcjbaE6dDog4jkNY91ncLQ,e4Vwtrqf-wpJfwesgvdgxQ,4,1,0,1,Cute interior and owner (?) gave us tour of up...,2017-01-14 20:54:15

In [ ]:
review.to_sql(name = "review", con = engine, if_exists='replace', index=True, chunksize=10000)

6990280

In [ ]:
%reload_ext sql
%sql mysql://B03:B03password@testproject.mysql.database.azure.com:3306/B03

In [ ]:
%%sql
CREATE TABLE review_normalised (
  id VARCHAR(22),
  user_id VARCHAR(22),
  business_id VARCHAR(22),
  stars bigint DEFAULT NULL,
  useful bigint DEFAULT NULL,
  funny bigint DEFAULT NULL,
  cool bigint DEFAULT NULL,
  text VARCHAR(225),
  date datetime DEFAULT NULL,
  PRIMARY KEY (id),
  CONSTRAINT fk_new_review_business
    FOREIGN KEY (business_id)
    REFERENCES business_new (id),
  CONSTRAINT fk_new_review_user
    FOREIGN KEY (user_id)
    REFERENCES user (id)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;

 * mysql://B03:***@testproject.mysql.database.azure.com:3306/B03

In [ ]:
%%sql
INSERT INTO review_new (id, user_id, business_id, stars, useful, funny, cool, text, date)
SELECT review_id, user_id, business_id, stars, useful, funny, cool, text, date
FROM review;

## 2.4 tip

In [ ]:
tip = pd.read_json('yelp_academic_dataset_tip.json', lines=True)
tip.head()

,user_id,business_id,text,date,compliment_count
0,AGNUgVwnZUey3gcPCJ76iw,3uLgwr0qeCNMjKenHJwPGQ,Avengers time with the ladies.,2012-05-18 02:17:21,0
1,NBN4MgHP9D3cw--SnauTkA,QoezRbYQncpRqyrLH6Iqjg,They have lots of good deserts and tasty cuban...,2013-02-05 18:35:10,0
2,-copOvldyKh1qr-vzkDEvw,MYoRNLb5chwjQe3c_k37Gg,It's open even when you think it isn't,2013-08-18 00:56:08,0
3,FjMQVZjSqY8syIO-53KFKw,hV-bABTK-glh5wj31ps_Jw,Very decent fried chicken,2017-06-27 23:05:38,0
4,ld0AperBXk1h6UbqmM80zw,_uN0OudeJ3Zl_tf6nxg5ww,Appetizers.. platter special for lunch,2012-10-06 19:43:09,0

In [ ]:
tip.to_sql(name = "tip", con = engine, if_exists='replace', index=True, chunksize=10000)

908915

In [ ]:
%%sql
CREATE TABLE tip_new (
  id INT NOT NULL,
  user_id VARCHAR(22),
  business_id VARCHAR(22),
  text varchar(255),
  date DATETIME DEFAULT NULL,
  likes INT,
  PRIMARY KEY (id),
  CONSTRAINT fk_new_tip_business
    FOREIGN KEY (business_id)
    REFERENCES business_new (id),
  CONSTRAINT fk_new_tip_user
    FOREIGN KEY (user_id)
    REFERENCES user (id)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;

 * mysql://B03:***@testproject.mysql.database.azure.com:3306/B03

In [ ]:
%%sql
INSERT INTO tip_new (id, user_id, business_id, stars, useful, funny, cool, text, date)
SELECT review_id, user_id, business_id, stars, useful, funny, cool, text, date
FROM review;

## 2.5 user

In [ ]:
user_file_path = 'yelp_academic_dataset_user.json'

chunk_size = 10000

user = []

user_iterator = pd.read_json(user_file_path, lines=True, chunksize=chunk_size)

# Iterate through the chunks and store them in the list
for chunk in user_iterator:
    user.append(chunk)

# Concatenate the chunks to create the complete dataframe
user = pd.concat(user, ignore_index=True)

user.head()

,user_id,name,review_count,yelping_since,useful,funny,cool,elite,friends,fans,...,compliment_more,compliment_profile,compliment_cute,compliment_list,compliment_note,compliment_plain,compliment_cool,compliment_funny,compliment_writer,compliment_photos
0,qVc8ODYU5SZjKXVBgXdI7w,Walker,585,2007-01-25 16:47:26,7217,1259,5994,2007,"NSCy54eWehBJyZdG2iE84w, pe42u7DcCH2QmI81NX-8qA...",267,...,65,55,56,18,232,844,467,467,239,180
1,j14WgRoU_-2ZE1aw1dXrJg,Daniel,4333,2009-01-25 04:35:42,43091,13066,27281,"2009,2010,2011,2012,2013,2014,2015,2016,2017,2...","ueRPE0CX75ePGMqOFVj6IQ, 52oH4DrRvzzl8wh5UXyU0A...",3138,...,264,184,157,251,1847,7054,3131,3131,1521,1946
2,2WnXYQFK0hXEoTxPtV2zvg,Steph,665,2008-07-25 10:41:00,2086,1010,1003,"2009,2010,2011,2012,2013","LuO3Bn4f3rlhyHIaNfTlnA, j9B4XdHUhDfTKVecyWQgyA...",52,...,13,10,17,3,66,96,119,119,35,18
3,SZDeASXq7o05mMNLshsdIA,Gwen,224,2005-11-29 04:38:33,512,330,299,"2009,2010,2011","enx1vVPnfdNUdPho6PH_wg, 4wOcvMLtU6a9Lslggq74Vg...",28,...,4,1,6,2,12,16,26,26,10,9
4,hA5lMy-EnncsH4JoR-hFGQ,Karen,79,2007-01-05 19:40:59,29,15,7,,"PBK4q9KEEBHhFvSXCUirIw, 3FWPpM7KU1gXeOM_ZbYMbA...",1,...,1,0,0,0,1,1,0,0,0,0

In [ ]:
user = user.drop(columns=['friends'])

In [ ]:
user.to_sql(name="user", con=engine, if_exists='replace', index=True, chunksize=10000)

1987897

In [ ]:
elite = pd.DataFrame(user[['user_id', 'elite']])

elite_up = (elite.assign(elite = elite['elite'].str.split(',')).explode('elite').reset_index(drop = True))
elite_up.head()

                  user_id elite
0  qVc8ODYU5SZjKXVBgXdI7w  2007
1  j14WgRoU_-2ZE1aw1dXrJg  2009
2  j14WgRoU_-2ZE1aw1dXrJg  2010
3  j14WgRoU_-2ZE1aw1dXrJg  2011
4  j14WgRoU_-2ZE1aw1dXrJg  2012

In [ ]:
elite.to_sql(name="elite", con=engine, if_exists='replace', index=True, chunksize=10000)

1987897

In [ ]:
# Split the 'friends' column on commas
user['friends'] = user['friends'].str.split(',')

# Remove any extra spaces and handle NaN values
user['friends'] = user['friends'].apply(lambda x: [friend.strip() for friend in x] if isinstance(x, list) else [])

# "Explode" the DataFrame so each friend gets its own row
friends = user('friends').reset_index(drop=True)

# Now try writing to SQL again
friends.to_sql(name="friends", con=engine, if_exists='replace', index=True, chunksize=10000)

# 3. Queries

##3.0 install SQL and check tables

In [ ]:
!pip install mysqlclient

Collecting mysqlclient
  Downloading mysqlclient-2.2.0.tar.gz (89 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 89.5/89.5 kB 1.5 MB/s eta 0:00:00
  Installing build dependencies ... done
  Getting requirements to build wheel ... done
  Installing backend dependencies ... done
  Preparing metadata (pyproject.toml) ... done
Building wheels for collected packages: mysqlclient
  Building wheel for mysqlclient (pyproject.toml) ... done
  Created wheel for mysqlclient: filename=mysqlclient-2.2.0-cp310-cp310-linux_x86_64.whl size=123666 sha256=9a7d3bcde740ffc8a9979763e7bd16b51a3d4ffc85e025f34be51bc04f6eda14
  Stored in directory: /root/.cache/pip/wheels/a4/f8/fd/0399687c0abd03c10c975ed56c692fcd3d0fb80440b5a661f1
Successfully built mysqlclient
Installing collected packages: mysqlclient
Successfully installed mysqlclient-2.2.0

In [ ]:
%reload_ext sql
%sql mysql://B03:B03password@testproject.mysql.database.azure.com:3306/B03

In [ ]:
%sql show tables

 * mysql://B03:***@testproject.mysql.database.azure.com:3306/B03
11 rows affected.

[('business',),
 ('business_new',),
 ('checkin',),
 ('checkin_new',),
 ('elite',),
 ('new_business',),
 ('new_review',),
 ('review',),
 ('tip',),
 ('user',),
 ('user_new',)]

In [ ]:
%sql DESCRIBE new_business;

 * mysql://B03:***@testproject.mysql.database.azure.com:3306/B03
14 rows affected.

[('Id', 'varchar(22)', 'NO', 'PRI', None, ''),
 ('name', 'varchar(255)', 'YES', '', None, ''),
 ('address', 'varchar(255)', 'YES', '', None, ''),
 ('city', 'varchar(255)', 'YES', '', None, ''),
 ('state', 'varchar(255)', 'YES', '', None, ''),
 ('postal_code', 'varchar(255)', 'YES', '', None, ''),
 ('latitude', 'float', 'YES', '', None, ''),
 ('longitude', 'float', 'YES', '', None, ''),
 ('stars', 'float', 'YES', '', None, ''),
 ('review_count', 'bigint', 'YES', '', None, ''),
 ('is_open', 'bigint', 'YES', '', None, ''),
 ('attributes', 'json', 'YES', '', None, ''),
 ('categories', 'text', 'YES', '', None, ''),
 ('hours', 'json', 'YES', '', None, '')]

In [ ]:
%sql SELECT business_id from business ORDER BY name LIMIT 10;

 * mysql://B03:***@testproject.mysql.database.azure.com:3306/B03
10 rows affected.

[('nL5Lu2HbjAYClsassArjXA',),
 ('t7vVRlyF9_lxuL1auqVchg',),
 ('R1nPs3Lc2eXRW95oYuzytA',),
 ('f9pqgFRKMoN75uqzxd7KHw',),
 ('tzAVcGlQrCXSLdj7lZq3zg',),
 ('ltDKILnZ0VAq0FLa0fp3_g',),
 ('t3qEUu4EaCKN3WQU7Pq3oA',),
 ('VZFQS0SXzXPuxISbAgIVBA',),
 ('TK_CXlCU1bWEZNBpR1fNDw',),
 ('feaSXGY9hF_Jqc1vHfPOjg',)]

In [ ]:
%sql SELECT COUNT(*) FROM user_new;

 * mysql://B03:***@testproject.mysql.database.azure.com:3306/B03

In [ ]:
%sql SELECT * FROM user LIMIT 10;

 * mysql://B03:***@testproject.mysql.database.azure.com:3306/B03
10 rows affected.

[(0, 'qVc8ODYU5SZjKXVBgXdI7w', 'Walker', 585, '2007-01-25 16:47:26', 7217, 1259, 5994, 267, 3.91, 250, 65, 55, 56, 18, 232, 844, 467, 467, 239, 180),
 (1, 'j14WgRoU_-2ZE1aw1dXrJg', 'Daniel', 4333, '2009-01-25 04:35:42', 43091, 13066, 27281, 3138, 3.74, 1145, 264, 184, 157, 251, 1847, 7054, 3131, 3131, 1521, 1946),
 (2, '2WnXYQFK0hXEoTxPtV2zvg', 'Steph', 665, '2008-07-25 10:41:00', 2086, 1010, 1003, 52, 3.32, 89, 13, 10, 17, 3, 66, 96, 119, 119, 35, 18),
 (3, 'SZDeASXq7o05mMNLshsdIA', 'Gwen', 224, '2005-11-29 04:38:33', 512, 330, 299, 28, 4.27, 24, 4, 1, 6, 2, 12, 16, 26, 26, 10, 9),
 (4, 'hA5lMy-EnncsH4JoR-hFGQ', 'Karen', 79, '2007-01-05 19:40:59', 29, 15, 7, 1, 3.54, 1, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0),
 (5, 'q_QQ5kBBwlCcbL1s4NVK3g', 'Jane', 1221, '2005-03-14 20:26:35', 14953, 9940, 11211, 1357, 3.85, 1713, 163, 191, 361, 147, 1212, 5696, 2543, 2543, 815, 323),
 (6, 'cxuxXkcihfCbqt5Byrup8Q', 'Rob', 12, '2009-02-24 03:09:06', 6, 1, 0, 1, 2.75, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0),
 (7, 'E9kcWJdJUHuTKfQurPljwA', 'Mike', 358, '2008-12-11 22:11:56', 399, 102, 143, 23, 3.73, 4, 7, 2, 0, 0, 8, 6, 12, 12, 5, 0),
 (8, 'lO1iq-f75hnPNZkTy3Zerg', 'Rachelle', 40, '2008-12-29 22:40:56', 109, 40, 46, 7, 4.04, 2, 0, 0, 3, 0, 3, 4, 5, 5, 3, 1),
 (9, 'AUi8MPWJ0mLkMfwbui27lg', 'John', 109, '2010-01-07 18:32:04', 154, 20, 23, 4, 3.4, 0, 0, 0, 0, 0, 1, 6, 3, 3, 0, 0)]

In [ ]:
%sql SELECT * FROM elite LIMIT 10;

 * mysql://B03:***@testproject.mysql.database.azure.com:3306/B03
10 rows affected.

[(1, 'qVc8ODYU5SZjKXVBgXdI7w', '2007'),
 (2, 'j14WgRoU_-2ZE1aw1dXrJg', '2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,20,20,2021'),
 (3, '2WnXYQFK0hXEoTxPtV2zvg', '2009,2010,2011,2012,2013'),
 (4, 'SZDeASXq7o05mMNLshsdIA', '2009,2010,2011'),
 (5, 'hA5lMy-EnncsH4JoR-hFGQ', ''),
 (6, 'q_QQ5kBBwlCcbL1s4NVK3g', '2006,2007,2008,2009,2010,2011,2012,2013,2014'),
 (7, 'cxuxXkcihfCbqt5Byrup8Q', ''),
 (8, 'E9kcWJdJUHuTKfQurPljwA', ''),
 (9, 'lO1iq-f75hnPNZkTy3Zerg', ''),
 (10, 'AUi8MPWJ0mLkMfwbui27lg', '')]

In [ ]:
%sql SHOW COLUMNS FROM elite;

 * mysql://B03:***@testproject.mysql.database.azure.com:3306/B03
3 rows affected.

[('Id', 'int', 'NO', 'PRI', None, 'auto_increment'),
 ('user_id', 'text', 'YES', '', None, ''),
 ('elite', 'text', 'YES', '', None, '')]

In [ ]:
%sql ALTER TABLE elite ADD CONSTRAINT fk_elite_user_id FOREIGN KEY user_id REFERENCES user(user_id);

 * mysql://B03:***@testproject.mysql.database.azure.com:3306/B03
(MySQLdb.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'REFERENCES user(user_id)' at line 1")
[SQL: ALTER TABLE elite ADD CONSTRAINT fk_elite_user_id FOREIGN KEY user_id REFERENCES user(user_id);]
(Background on this error at: https://sqlalche.me/e/20/f405)

In [ ]:
%sql DROP TABLE elite_old;

 * mysql://B03:***@testproject.mysql.database.azure.com:3306/B03
0 rows affected.

[]

In [ ]:
%sql ALTER TABLE user MODIFY COLUMN friends VARCHAR(10000);

In [ ]:
%sql SHOW COLUMNS FROM checkin;

In [ ]:
%sql ALTER TABLE checkin MODIFY COLUMN date BLOB;

In [ ]:
%sql Select * from business b WHERE b.Group NOT LIKE "Other" limit 15;

In [ ]:
%sql ALTER TABLE `elite` DROP PRIMARY KEY;

 * mysql://B03:***@testproject.mysql.database.azure.com:3306/B03
(MySQLdb.NotSupportedError) (1235, "This version of MySQL doesn't yet support 'existing primary key drop without adding a new primary key. In @@sql_generate_invisible_primary_key=ON mode table should have a primary key. Please add a new primary key to be able to drop existing primary key.'")
[SQL: ALTER TABLE `elite` DROP PRIMARY KEY;]
(Background on this error at: https://sqlalche.me/e/20/tw8g)

In [ ]:
%sql ALTER TABLE `elite` CHANGE COLUMN `my_row_id` `Id` INT AUTO_INCREMENT;

 * mysql://B03:***@testproject.mysql.database.azure.com:3306/B03
(MySQLdb.OperationalError) (4110, "Altering generated invisible primary key column 'my_row_id' is not allowed.")
[SQL: ALTER TABLE `elite` CHANGE COLUMN `my_row_id` `Id` INT AUTO_INCREMENT;]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

In [ ]:
%%sql
ALTER TABLE new_review DROP COLUMN review_id;

 * mysql://B03:***@testproject.mysql.database.azure.com:3306/B03

## 3.1 **Extra_Credit**

In [ ]:
import sqlite3

In [ ]:
pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in /usr/local/lib/python3.10/dist-packages (8.2.0)
Requirement already satisfied: protobuf<=4.21.12,>=4.21.1 in /usr/local/lib/python3.10/dist-packages (from mysql-connector-python) (4.21.12)

In [ ]:
pip install pymysql

Requirement already satisfied: pymysql in /usr/local/lib/python3.10/dist-packages (1.1.0)

In [ ]:
import mysql.connector

In [ ]:
pip install mysqlclient

Requirement already satisfied: mysqlclient in /usr/local/lib/python3.10/dist-packages (2.2.0)

In [ ]:
# Connect to the database

#db_config = {
    #"host": "testproject.mysql.database.azure.com",
    #"user": "B03",
    #"password": "B03password",
    #"database": "B03",
#}


#onnection = mysql.connector.connect(**db_config)

# Creating a cursor object
#cursor = connection.cursor()

### 1 Select the city that has the most average review count of its restaurant

We are passionate food enthusiasts with a dream of creating a unique dining experience, embarks on a data-driven journey to uncover the ideal restaurant concept.

With our first SQL query, we discover that **North Redington Beac**h in **Florida**, a picturesque coastal city, has the highest average review count for its restaurants.

In [ ]:
from sqlalchemy import create_engine, Column, Integer, String, Float, func
from sqlalchemy.orm import sessionmaker
from sqlalchemy.ext.declarative import declarative_base

# Define the database connection URL
db_url = 'mysql://B03:B03password@testproject.mysql.database.azure.com/B03'

# Create a SQLAlchemy engine to connect to the database
engine = create_engine(db_url)

# Create a session
Session = sessionmaker(bind=engine)
session = Session()

# Define a SQLAlchemy model for your "business" table
Base = declarative_base()

class Business(Base):
    __tablename__ = 'business'
    business_id = Column(String, primary_key=True)
    name = Column(String)
    city = Column(String)
    state = Column(String)
    review_count = Column(Integer)
    is_open = Column(Integer)
    attributes = Column(String)

# Fetch data from the "business" table
query = session.query(
    Business.business_id,
    Business.city,
    Business.state,
    func.round(func.avg(Business.review_count)).label('average_review_count')
) \
.filter(Business.review_count > 100) \
.group_by(Business.business_id, Business.city, Business.state) \
.order_by(func.avg(Business.review_count).desc()) \
.limit(50)

results = query.all()

# Print the results
for row in results:
    print(row)

<ipython-input-162-89c9f419c6d9>:16: MovedIn20Warning: The ``declarative_base()`` function is now available as sqlalchemy.orm.declarative_base(). (deprecated since: 2.0) (Background on SQLAlchemy 2.0 at: https://sqlalche.me/e/b8d9)
  Base = declarative_base()

('_ab50qdWOk0DdB6XOrBitw', 'New Orleans', 'LA', Decimal('7568'))
('ac1AeYqs8Z4_e2X5M3if2A', 'New Orleans', 'LA', Decimal('7400'))
('GXFMD0Z4jEVZBCsbPf4CTQ', 'Nashville', 'TN', Decimal('6093'))
('ytynqOUb3hjKeJfRj5Tshw', 'Philadelphia', 'PA', Decimal('5721'))
('oBNrLz4EDhiscSlbOl8uAw', 'New Orleans', 'LA', Decimal('5193'))
('iSRTaT9WngzB8JJ2YKJUig', 'New Orleans', 'LA', Decimal('5185'))
('VQcCL9PiNL_wkGf-uF3fjg', 'New Orleans', 'LA', Decimal('5070'))
('_C7QiQQc47AOEv4PE3Kong', 'New Orleans', 'LA', Decimal('4876'))
('GBTPC53ZrG1ZBY3DT8Mbcw', 'New Orleans', 'LA', Decimal('4554'))
('6a4gLLFSgr-Q6CZXDLzBGQ', 'New Orleans', 'LA', Decimal('4421'))
('PP3BBaVxZLcJU54uP_wL6Q', 'Philadelphia', 'PA', Decimal('4250'))
('1b5mnK8bMnnju_cvU65GqQ', 'Nashville', 'TN', Decimal('4207'))
('I_3LMZ_1m2mzR0oLIOePIg', 'Saint Louis', 'MO', Decimal('3999'))
('VaO-VW3e1kARkU9bP1E7Fw', 'New Orleans', 'LA', Decimal('3966'))
('qb28j-FNX1_6xm7u372TZA', 'New Orleans', 'LA', Decimal('3902'))
('gTC8IQ_i8zXytWSly3Ttvg', 'New Orleans', 'LA', Decimal('3837'))
('yPSejq3_erxo9zdVYTBnZA', 'Santa Barbara', 'CA', Decimal('3834'))
('VVH6k9-ycttH3TV_lk5WfQ', 'New Orleans', 'LA', Decimal('3582'))
('IkY2ticzHEn4QFn8hQLSWg', 'Philadelphia', 'PA', Decimal('3401'))
('wz8ZPfySQczcPgSyd33-HQ', 'Reno', 'NV', Decimal('3345'))
('QHWYlmVbLC3K6eglWoHVvA', 'Tampa', 'FL', Decimal('3260'))
('9PZxjhTIU7OgPIzuGi89Ew', 'Philadelphia', 'PA', Decimal('3187'))
('DcBLYSvOuWcNReolRVr12A', 'New Orleans', 'LA', Decimal('3160'))
('XnQ84ylyAZwh-XfHGGNBbQ', 'New Orleans', 'LA', Decimal('3157'))
('ctHjyadbDQAtUFfkcAFEHw', 'Philadelphia', 'PA', Decimal('3065'))
('L5LLN0RafiV1Z9cddzvuCw', 'Tampa', 'FL', Decimal('3064'))
('VAeEXLbEcI9Emt9KGYq9aA', 'Nashville', 'TN', Decimal('3054'))
('U3grYFIeu6RgAAQgdriHww', 'Santa Barbara', 'CA', Decimal('2940'))
('dsfRniRgfbDjC8os848B6A', 'Tampa', 'FL', Decimal('2924'))
('6ajnOk0GcY9xbb5Ocaw8Gw', 'Philadelphia', 'PA', Decimal('2893'))
('C9K3579SJgLPp0oAOM29wg', 'Nashville', 'TN', Decimal('2878'))
('3YqUe2FTCQr0pPVK8oCv6Q', 'Tampa', 'FL', Decimal('2860'))
('j-qtdD55OLfSqfsWuQTDJg', 'Philadelphia', 'PA', Decimal('2761'))
('ww3YJXu5c18aGZXWmm00qg', 'New Orleans', 'LA', Decimal('2756'))
('oIH5YWPy_g61YXM6R900Wg', 'Nashville', 'TN', Decimal('2746'))
('sTPueJEwcRDj7ZJmG7okYA', 'Philadelphia', 'PA', Decimal('2736'))
('Y2Pfil51rNvTd_lFHwzb_g', 'New Orleans', 'LA', Decimal('2688'))
('RQAF6a0akMiot5lZZnMNNw', 'Philadelphia', 'PA', Decimal('2686'))
('0RuvlgTnKFbX3IK0ZOOocA', 'Philadelphia', 'PA', Decimal('2679'))
('AGlh4ZDv6jnoiYfz7At9mw', 'Philadelphia', 'PA', Decimal('2672'))
('xlMQBBt9wrtahdqiRDcVSg', 'Nashville', 'TN', Decimal('2588'))
('skY6r8WAkYqpV7_TxNm23w', 'Santa Barbara', 'CA', Decimal('2536'))
('J0joPXxmN-_9Lzafspqdbw', 'Reno', 'NV', Decimal('2506'))
('8pqdJjefYq-a9IBSJJmKwA', 'Philadelphia', 'PA', Decimal('2497'))
('PY9GRfzr4nTZeINf346QOw', 'Reno', 'NV', Decimal('2486'))
('RLlOK2fL6xU1sfIPiP2QBw', 'New Orleans', 'LA', Decimal('2473'))
('OWOOc0YjU_kioLeEgo5VCA', 'Nashville', 'TN', Decimal('2452'))
('9xdXS7jtWjCVzL4_oPGv9A', 'New Orleans', 'LA', Decimal('2443'))
('ChlcxTEoWBQJXJ2Xb2vm5g', 'New Orleans', 'LA', Decimal('2417'))
('EagkHaaC-kUozD3MPzbRIw', 'New Orleans', 'LA', Decimal('2406'))

###2 Examine all the businesses in that city to choose the category to open

In [ ]:
# Query to fetch all columns for businesses in "North Redington Bch" ordered by review_count
query = session.query(Business.business_id,
                      Business.name,
                      Business.city,
                      Business.state,
                      Business.review_count) \
.filter(Business.city == "North Redington Bch") \
.order_by(Business.review_count.desc())

results = query.all()


# Print the results
for row in results:
    print(row)

('CgiwCrXs3Ggu9eKFPIgjtA', 'Conch Republic Grill', 'North Redington Bch', 'FL', 1175)
('jp9rMUdQBvwLDqLr_nTPFw', 'Redington Beach Liquors', 'North Redington Bch', 'FL', 17)
('vOS17JcF-NPJnkrCObn4DQ', "Sporty's", 'North Redington Bch', 'FL', 12)
('SW1C57UvP8r_xaDiz4-6xg', 'North Redington Beach', 'North Redington Bch', 'FL', 12)

###3 Get the average star of all the reviews for the selected resaturant

In [ ]:
# Define a SQLAlchemy model for your "review" table
class Review(Base):
    __tablename__ = 'review'
    id = Column(Integer, primary_key=True)
    business_id = Column(String)
    user_id = Column(String)
    stars = Column(Float)
    useful = Column(Integer)
    text = Column(String)
    date = Column(String)
    # Define other columns as needed


    # Subquery to get the business_id for the specified city
    subquery = session.query(Business.business_id) \
        .filter(Business.city == "North Redington Bch") \
        .order_by(Business.review_count.desc()) \
        .limit(1) \
        .subquery()

    # Main query to calculate the average of "stars" and count rows in the "review" table
    query = session.query(
        func.avg(Review.stars).label('average_stars'),
        func.count().label('row_count')
    ) \
    .filter(Review.business_id == subquery)

    result = query.first()
    print("")
    print("Average Stars:", result.average_stars)
    print("Row Count:", result.row_count)

<ipython-input-153-716f4689e224>:26: SAWarning: implicitly coercing SELECT object to scalar subquery; please use the .scalar_subquery() method to produce a scalar subquery.
  .filter(Review.business_id == subquery)

Average Stars: 3.9853
Row Count: 1223

###4 Get the useful user id who rates over the average for the restuarant and their review contents

In [ ]:

    # Subquery to get the business_id for the specified city with the most review_count
    subquery = session.query(Business.business_id) \
        .filter(Business.city == "North Redington Bch") \
        .order_by(Business.review_count.desc()) \
        .limit(1) \
        .subquery()

    # Calculate the average of "stars" for reviews of the selected business with useful > 0
    avg_stars_subquery = session.query(func.avg(Review.stars)) \
        .filter(Review.business_id == subquery) \
        .filter(Review.useful > 0) \
        .subquery()

    # Main query to fetch user_id, text, and stars for reviews that meet the criteria
    query = session.query(Review.user_id, Review.text, Review.stars) \
        .filter(Review.business_id == subquery) \
        .filter(Review.useful > 0) \
        .filter(Review.stars > avg_stars_subquery) \
        .order_by(Review.stars.desc()) \
        .limit(50)

    results = query.all()
    for row in results:
      print("User ID:", row.user_id)
      print("Text:", row.text)
      print("Stars:", row.stars)

<ipython-input-154-18f72cc98dbc>:10: SAWarning: implicitly coercing SELECT object to scalar subquery; please use the .scalar_subquery() method to produce a scalar subquery.
  .filter(Review.business_id == subquery) \
<ipython-input-154-18f72cc98dbc>:16: SAWarning: implicitly coercing SELECT object to scalar subquery; please use the .scalar_subquery() method to produce a scalar subquery.
  .filter(Review.business_id == subquery) \
<ipython-input-154-18f72cc98dbc>:18: SAWarning: implicitly coercing SELECT object to scalar subquery; please use the .scalar_subquery() method to produce a scalar subquery.
  .filter(Review.stars > avg_stars_subquery) \

User ID: rqjKNobn-NRMqrus7FaBOQ
Text: This is a favorite go to spot for us and our friends after the beach. We have been here so many times I've lost count.  It's a very popular restaurant and it does get very crowded. It is a bit touristy due to its location right by the beaches. Also, it's convenient because they have the ability to seat large groups. You will see many large groups of vacationers at this restaurant. They have a big parking lot but it fills quickly.  There is street parking as well.

Conch Republic is not a fancy restaurant.  It's more of a casual after the beach restaurant. The prices are reasonable and you get plenty to eat.

For appetizers I love their old bay peel and eat shrimp and I order the warm version, it's delicious. Another appetizer favorite is the fried zucchini. I don't know what they do but It's very light and yummy!  FYI...Keep in mind if you order this, they put grated cheese over it!  Actually, they put grated cheese over many items. If you are like me and prefer no cheese make sure to mention that when you order!!  For dinner I've tried many of their entrees. The coconut crusted mahi-mahi is my absolute favorite and it's served with a warm mango chutney on top. I've also tried the St. Martin Shrimp scampi, the tacos, the coconut shrimp, the combo shrimp platters and many entrees multiple times!  They are always fresh and delicious. Their side salad that comes with some dinners is also delicious!  They also serve a bread basket.

They offer a happy hour everyday from 11am - 7pm. How can you go wrong with those hours!

We have always found the servers (and we've had most of them) to be good and pleasant. Tonight we had Nick, and he was one of the best servers we've had!

This restaurant has outside dining as well which was convenient during COVID.

Conch Republic also has a small gift shop when you walk in. They sell t-shirts, hats, cups etc.
Stars: 5.0
User ID: roLYLd8oPZL_SzulZnxeAw
Text: They food is great.
The environment is fun.
The prices are reasonable.
Looking forward to going back again.
Stars: 5.0
User ID: xPxidWHAIf18UGl0en3qvg
Text: Love this restaurant!  The atmosphere was fun and the oysters did not disappoint.  The service was timely, accurate and friendly.  I will definitely come back again!
Stars: 5.0
User ID: 6S5j7-uDbHjdiDOHdctkTA
Text: Amazing Service!  Incredible Food!

I have to speak first about the service.  Our server was quite literally the best server I've ever encountered.  We were a group of 6 (3 couples), and asking (IMO) for the most annoying request of all diners to "split the plates."  But WE didn't ask, she just DID it based on what we ordered.  None of that bring an extra plate for you to split the portions yourself, she had the kitchen split the food, including splitting salads that came with meals, and sandwiches.  That's in addition to refilling drinks, removing plates, checking in that we were happy, etc.... Simply amazing!  I wish I lived nearby, so I could dine here more often.

Our table, as a whole ordered so much food, I'd never be able to keep it straight, so I'll share what I remember.

My fiance and I started with a dozen raw oysters, which were delicious.   For the main meal we ordered the Mahi Mahi BLT and some kind of appetizer sampler, that featured conch fritters, an islamorada crab cake, and coconut shrimp.

The conch fritters were great -- little hush puppies with conch inside.
The crab cake was packed with jumbo lump crab meat, and the remoulade was to die for.
The star was the coconut shrimp.  I was stunned as I thought this would be the least exciting, but they definitely stole the show.
Our Mahi BLT was also delicious!  It tasted so good, but I was so full from everything else, that I had to remove the bread and just eat the good stuff in the middle.
We also tried a few of the Mussels Diablo.  I will order those for sure,  when I get to come back to the Clearwater area.

Overall,  this was an a fantastic meal with even better service.

To the owners --- Please keep the high standards you have in place, as I can't wait to return to dine here again.  Thank you for a great evening!
Stars: 5.0
User ID: zPWo_0tXUd_90QIA9oI5Xg
Text: The service and food were great! It's definitely a busy location at times, but worth stopping by. I appreciated the vegan/vegetarian pasta. The kitchen manager even came to my table to explain the ingredients in the food.
Stars: 5.0
User ID: pZDqIIatGeEjiRWY7se2UA
Text: First time having a stay-vacation on the beach came here for dinner and wow it was delicious
I had the filet mignon beautiful cooked just melts in your mouth
My husband had oysters on the half shell and lobster tail and he polished his whole plate
Kyle our waiter was very nice and on top of everything
Would recommend live it love it
Stars: 5.0
User ID: TfeDrNQDWHL3aYm_OCmdWQ
Text: Love this place, the food is great. It is one if our vacation musts every year. The decir is Florida! The store has charming things you can purchase as a souvenir of your visit to the wonderful beaches. The sefvixe is good and the food is fresh and delish. So many seafood options to choose from. I have no favorites to share because it is all good, the entire menu.
Stars: 5.0
User ID: jtz7BwON80c1LW_W8K8K5g
Text: We ordered delivery to our hotel on the beach and everything was wonderful. It was nice to not have to deal with parking either there or our hotel, plus we ate our dinner quietly together on the beach at sunset. We had conch fritters, crab legs, shrimp, and ribs. Everything down to the sides was very good. The delivery bags including everything we needed to eat our meal (cutlery, napkins, condiments, etc.) It was nice to stay at the hotel in our swimwear and have a quality meal without having to get up and go somewhere.

We will definitely be doing this again. They helped make our 25th anniversary beach getaway perfect.
Stars: 5.0
User ID: J7JrwVfRm5kJ8mQhEBHSWg
Text: Loved this place! We were in a hurry to grab a bite before the sunset and our server was very accommodating despite the crowd. We had wings and crab cakes with a couple of Dee lish bar drinks . Can't wait to go back next time I am in the area.
Stars: 5.0
User ID: RK6nwZME_kb_60wZjX7D4w
Text: Incredible and this place has never let me down. Of the stark sandwich is on special for lunch, get it for sure. Couldn't believe how great it was and always hard to make a decision when eating here. It gets loud at night and totally quite during the day. Great job Conch Republic!!
Stars: 5.0
User ID: d0J9Xr3APqscLN6eJcacmw
Text: Excellent food every visit from the conch fritters to Key lime pie! Try the Grouper sandwich! The best! Awesome atmosphere at the beach!
Stars: 5.0
User ID: tsjI3I4whly3VzF_a_E8ZA
Text: In this area this is by far the best seafood place.   They actually cook here.   Amazing sauces fresh and not much fried stuff.  Local Oysters are amazing fresh and plump.  Not to briney just right.   The service is very attentive and knowledgeable.   The Margaritas are ass kicking,  I recommend the almost heaven.

The steak with the garlic parm crust is awesome.  creaole shrimp amazing.
Busy place and lots of locals which is always a good sign.  another one of those places that a repeat visit is always a must if your staying nearby for the week .

The wait staff is friendly and knows there product which is not the case most of the time in Florida.

I recomend it highly.  and if you go for the margaritas don't deive take a taxi.  or walk across the street and pass out on the beach.
Stars: 5.0
User ID: ikf0MyEpa7QEeFLFxm7sqA
Text: Hadn't gone in awhile as the quality went down. Came back tonight and have to say it was really good! Vodka martinis excellent, cracker shrimp yummy. But the best were the coconut shrimp and the ahi tuna app! So darn good! We had the best server,Danny. Just the right amount of attention! We will be back!
Stars: 5.0
User ID: PJmrWTElOJdD4MdyWEh8mA
Text: Conch Republic always seem packed and I can see why now. My family and I sat at the bar and our bartender Mandy was super funny and a hard worker. We loved the shrimp apps (peel and eat, quesadillas, and fried with their special sauce). I also tried there rendition of a potato soup, which was not my favorite but it was a special and not on their daily menu so I don't blame them. I also had the Cajun grouper sandwich and Mandy recommended that I try it with jalapeño crust which turned out to be delightful. They also had a great variety of beachy drinks, and a great desert menu. 10/10 would come back again next time I'm in town.
Stars: 5.0
User ID: Tx643uSIwX2UsoD-5YR1eA
Text: A find.

This place has everything on the menu, from burgers and sandwiches to fish and steaks. A full bar and a great vibe make this a fun dining experience!

Full wine list, full bar, and everything from Sloppy Joes to Surf n Turf.

The wait can be 15-30 minutes, but it is worth it.

We had dinner, sandwiches and drinks for 2 and the bill was under $30. Good value!

Stop in and see Jackie - fun, great waitress!

Good value, good vibe, good food!
Stars: 5.0
User ID: 7XoG1YawkyiKGQPHMy0CyQ
Text: Ok. You aren't going to believe me. I still don't believe myself. Best burgers in a 20 mile radius! I've always been a fan of the grouper here and just assumed seafood was the way to go (honestly my GF had a BAD experience with her grouper on the last visit and got sick... I tasted it and it was bad) but the burger... the burger. Medium is actually medium, and DELICIOUS!!! Better than area steakhouses. No exaggeration!! Also the ranch is THICK as house made deliciousness!!

Great prices for food, drinks are a hit or miss. Drinks are well priced during happy hour (till 7, 2-4-1 drinks) but make sure you get TWO SEPARATE single drinks. "Doubles" are the obvious choice until you realize that it's more like 1 to 1.5 watered down drinks... get two singles!!

All in all one of the best spots on the beach!

They should do a slightly better job with quality control however, GF had a horrible grouper sandwich and they never asked if it was ok or offered replacement when we went out of the way (I hate complaining but we did) and told the waitress about it being dry and kinda gross.
Stars: 5.0
User ID: Bab2Cs8K6XYPG0USqVf70g
Text: I'd never been to Cinch Republic but some friends recommend it so I went for lunch today when I happened to be in the area. The Mahi fish tacos were delicious, the place is nice, and all of the people were great. It seems to be a favorite among the locals, which is always a good sign too.
Stars: 5.0
User ID: dzSit2MTSrr9s-FVCnzeYA
Text: Went here for years but stopped because it became too touristy and there was a bartender that was 'always in the weeds'.  Recently though my guy and our friends have been going in at least 2x/week and loving it. Mandi, Irene, Dani plus the others whose names I can't remember offhand are remarkable. The service is impeccable and the drinks are professionally executed. They have the cutest 8 oz. shakers for the martinis and the glasses truly enhance the drink.

I still order the Mussels Diablo  appetizer which is over the top delicious. Just spicey enough to keep the drinks coming. I've added the Ahi Tuna appetizer to my repetiore and love it too. The presentation is perfection and the tuna is seared exactly right. I am here to say that the seaweed salad and the ginger are top notch too.

There is outside seating, bar and barside, and a roomy dining room. It is always busy but the kitchen keeps pumping the food in a timely manner. Street parking and a private parking is always welcome on the beach.
Stars: 5.0
User ID: -ABIEAEUhlVfbq_UotgfuQ
Text: I loved this place:) I got Alfredo pasta which was great. Our sever, Destiny was AMAZING definitely one of the best severs I ever had and I'm very glad she was we sever this afternoon!!!:]
Stars: 5.0
User ID: b1N-pFIF6gnJrMnzZ1IV5A
Text: This place is amazing! The food is when I tell you out of this world!!! I always get the coconut crusted mahi but I've tried many things including the scallops which are incredible also!!! They give you a decent amount of scallops as well. Additionally, they fill up your drinks really nicely !!! The service is great and the staff is very friendly and accomodating. Highly reccomend.
Stars: 5.0
User ID: dn92NanOm7tUxXqzZl5WtA
Text: This is always one of our favorite stops when in the area. I've never been disappointed. Everything from ribs to stone crab. It's all great!
Stars: 5.0
User ID: 9m6Q_NpGn26QcCRhbom1Gg
Text: Friday night 10/22/21, wanted to go to eat at at Restaurant that has Good reviews for dinner. We get to the restaurant & realize that We have been here before & the Food is Excellent! The Restaurant is packed,  We made a reservation, we only waited 5 minutes. They eat us,there were 4 people in our party for dinner.We all Ordered Fish Dishes, Everything was excellent, we even had dessert. This is Definitely a Restaurant that you want to go to when visiting the St.Petersburgh area. You won't be Disappointed at all. We will definitely be back, again!
Stars: 5.0
User ID: yzZGZxSh_UAllTeW-cOaAQ
Text: Great place on the boulevard.  Best French fries, potato skins, and spicy chili soup we've ever had. The fish creole dish was outstanding and so were the mahi mahi fish tacos.  Nice beer selections and they have more outdoor seating than they had last year. Emily is a great bartender.
Stars: 5.0
User ID: aOmIxWh7AGUwCqFMOW7Piw
Text: Great beach restaurant atmosphere. We got drinks and appetizers and they were good and quick. Bogo drinks before 7, well margaritas were actually pretty tasty (not overly sweet). Service was friendly.
Stars: 5.0
User ID: bfrcbS85GEVeysocvzD4UQ
Text: Beautiful job adhering to social distancing  Delicious food as always- the cracker shrimp were an awesome spicy starter and the grouper tacos were on point
Stars: 5.0
User ID: zYFGMy1_thjMnvQLX6JNBw
Text: Conch Republic is located on Gulf Blvd with a parking lot for approximately 20 cars. They have a wonderful, new covered patio area that just opened today.  Everyday 11a.m. - 7 p.m. is Happy Hour. Select Draft Beers, House Wines, Well & Select Call Brands and some Signature Cocktails are listed under Happy Hour.

Let's talk about the menu. Appetizers have a large variety of fish, wings, quesadillas and fried zucchini. Soups have 4 options (Crab Soup, Seafood Gumbo, Cuban Black Bean and Soup of the day (Spicy Chili) plus 4 salads are available, too. You have theI selections of tasty Sandwiches such as Fish Tacos, Shrimp Po-Boy, Grouper Crusted Reuben, Pressed Cuban Sandwich, plus more). The Seafood section will make you smile if you love seafood. Just a few of their selections are Jalapeno Crusted Grouper, Sea Scallops, Coconut Crusted Mahi, Stuffed Grouper in Paradise, Fantasy Shrimp Fest, Key West Crab Cakes and Seafood Creole to name a few of the Seafood Entree.

Let me not forget the 7 Pasta and Rice section. A few of your options are Shrimp Diablo, Seafood Pasta and Seafood Creole with other options. I ordered the St. Martin Shrimp Scampi with tender shrimp sautéed and tossed with fresh Basil, tomatoes, red onions, and lemon white sauce and served over linguine. It was very light and delicious with flavorful tender shrimp.

After lunch I ordered the Chocolate Turtle Brownie with a large, homemade Brownie square on the bottom, topped with walnuts, hot fudge, caramel then vanilla ice cream topped with whipped cream and a cherry. It was fanastic linguine and shrimp.

My server, Lisa, did a wonderful job taking care of me. She was attentive without being obnoxious and always had a sweet smile. My glass was never empty, plates removed promptly, and she arrived just as I needed another drink and to order dessert.

Overall, I really enjoyed this new, (for me) restaurant and would visit again when in the area. I hope that is soon.
Stars: 5.0
User ID: AB1GP0xED44J2a3sFMXTJA
Text: I've been to this place 3 times now and haven't gotten anything I didn't enjoy. I can't tell you what to get because every time I have gotten something different and it was delicious. I want to be conch-scious not to fritter away so we will leave it at that.
Stars: 5.0
User ID: gPLB6bMrO5YL9jZbjO0VVg
Text: The crazy conch is a great place! Our server Destiny is very nice. The key lime pie is delicious. Thank you. Bye bye
Stars: 5.0
User ID: IML25ULTDCnR_o58BIQWuA
Text: Update: Ohhh my server Justin is great. Jimmy came out to say hello. We sat outside and it was perfect. Everyone was so nice and accommodating. Thanks again friends.
Stars: 5.0
User ID: GCCdAmPgPd8n0Cv1NgUuUg
Text: Conch Republic is, without a doubt, one of THE BEST restaurants on the beach. I have been coming here everytime I'm in town since 1999 and have NEVER had a bad meal.
    The menu is EXTENSIVE and has something for EVERYONE.
     The waitstaff is friendly, knowledgeable and very helpful. They are attentive but not overbearing.
    Come early though, the parking lot gets full very quickly.
Stars: 5.0
User ID: OaU23R7ehxXaTNc9Dmvwxw
Text: The food is so good I was delighted to be here with my husband on my birthday!  I had a Really hard time choosing between the mahi an amberjack fish spread plate or the Tarpon Springs Greek salad. You can add grilled blackened or fried chicken or sea scallops! All sounds amazing I did eventually settle on the fresh Florida fish bread which is supposed to be the best you'll ever taste.
Stars: 5.0
User ID: WCDZWeWiE1Q0hqxDUGXwcA
Text: Updated review- we returned for dinner the same day! The food is so so good! Our server Aanya, is phenomenal! We loved her!!


We absolutely LoVED this place! The service is outstanding! Our server Angie was fabulous! She was extremely polite and patient. And the food was outstanding. We ordered the Conch platter, it was to die for! Definitely a thumbs up!
Stars: 5.0
User ID: vaNJUbKnOfvMaw33YH56EQ
Text: We ate at the Conch on Saturday night.  We had a reservation and were seated promptly.  Our server Mike was awesome, very attentive and patient with our indecisiveness! We really appreciated his A+ service. The food, as always, was excellent - we absolutely love the Cracker Shrimp and managed to take advantage of happy hour!  Very busy because of spring break but it didn't feel like it was crazy  - it was not a long wait for our food.  Overall extremely happy with the food, the service and how well managed the big crowd was!  Definitely would go back!
Stars: 5.0
User ID: hPHGAFid8Jd7l8fAHmiW8Q
Text: We were visiting from out of town and were extremely happy with Conch. It was hands down our best restaurant experience on vacation. The food and service was great. They were strictly enforcing social distancing.
Stars: 5.0
User ID: hYRbFvJZGgJktISMQmQ--w
Text: This place is amazing!!! Outstanding service, fresh seafood, and a very pleasant atmosphere. Safe area with gorgeous views. You definitely want to eat hear.
Stars: 5.0
User ID: YragADLjwrQmyjcXK6_IRQ
Text: Kristina is AHMAZING!  I can never make up my mind and picked three different entrees to ask about.  Kristina asked me a couple of weeks questions and tada!!  I had the best drink and shrimp tacos!  Thank you so much!
Stars: 5.0
User ID: 6Lm7kr1uBjy5CVhIF48bSQ
Text: Awesome evening...  Florida beach restaurant at it's best.  We had a large group of 9 with a reservation .  Seated right on time waitress was awesome.   Wish I could remember her name she joked and said it was Sally...  Great food.  Fast service.   Can't wait to go back with out of state visiting family and friends
Stars: 5.0
User ID: H0waORgDoArqKKs4bzkd6A
Text: In an area of the country overrun by memes (why, hello there, Florida Man), the authenticity of any destination is arguably a point no three elite Yelpers can agree on.

With that as a foundation, The Conch Republic (don't forget to capitalize 'The' lest the grammar police swoop in) succeeds along a road frequented by many and yet walkable by few.


###5 Get the useful user id who rates 0 or 1 star for the restuarant and their review contents

In [ ]:

    # Subquery to get the business_id for the specified city with the most review_count
    subquery = session.query(Business.business_id) \
        .filter(Business.city == "North Redington Bch") \
        .order_by(Business.review_count.desc()) \
        .limit(1) \
        .subquery()

    # Main query to fetch user_id, text, and stars for reviews that meet the criteria
    query = session.query(Review.user_id, Review.text, Review.stars) \
        .filter(Review.business_id == subquery) \
        .filter(Review.useful > 0) \
        .filter(and_((Review.stars == 1) | (Review.stars == 0))) \
        .order_by(Review.stars.desc()) \
        .limit(50)

    results = query.all()

    for row in results:
        print("User ID:", row.user_id)
        print("Text:", row.text)
        print("Stars:", row.stars)

<ipython-input-155-49a6f17d4534>:10: SAWarning: implicitly coercing SELECT object to scalar subquery; please use the .scalar_subquery() method to produce a scalar subquery.
  .filter(Review.business_id == subquery) \

User ID: ChrdTlE-ATD7kil4mPU14w
Text: I had the Paella. It was way over cooked. All of the seafood and chickened dry and chewy and the rice was dry as well. I advised the waitress, who told the manager, who didn't even bother to come by the table, much less comp the un eaten meal. The other 3 at the table give their meal  2 at best.

This place may be OK for happy hour drinks, but definitely not for food.
Stars: 1.0
User ID: Piyr8nhX9xd0payzBPvkoA
Text: Super slow service! I understand it's a touristy place but come on!
The food was not good either. The crackers that came with oysters were unbelievably stale, oysters were decent. I also ordered grouper and the first few bites tasted great but as soon as I got to the thicker part it was not cooked through and was super fishy. Broccoli was dry and honestly disgusting. Don't waste your time and money!
My son ordered kids burger and it came with literally like 5 fries and the burger itself was a weird consistency and flavor. My son chose to stay hungry
Stars: 1.0
User ID: oITySrigUbKMdWSmrBJmQA
Text: First, know we have eaten at Conch Republic several times, and it has been one of the family favorite spots for a good, solid meal.  Tonight, between food issues and service overall, we had an experience that may lead to our not returning.

Timing was out of wack.  We received our dozen oysters before we even received our water.  We had wine and cocktails, but after the first was delivered, we were never asked if we wanted a second.  We did.  We were never given a chance to have one.

The food arrived 50 minutes after the appetizer.  In general, the Conch Platter was good, with the exception of the grouper, which was overcooked.  It was my wife who had the Stuffed Grouper, that was totally disappointed.  She tried to eat it, but could not swallow the dry, overcooked fish.

When our server returned to the table after our meal (and only the 3rd time during a 2 1/2 hour meal), we explained how everything was great but the stuffed grouper was a total fail. The response was ridiculous - as she asked us if we wanted a box to take the barely eaten meal home.  We said no, and why would we, it was uneatable.

When she brought the $250 tab back to our table, she said we should tell her sooner next time.  How, when we never saw her.  Horrible service experience combined with inconsistent food made the evening a disappointing one.
Stars: 1.0
User ID: 1e_cpvQJGq0BBRR9XwTaOg
Text: We had almost an hour wait. We noticed that a party that arrived after us was seated before us. When we inquired we were told "they only showed up 5 minutes after you guys" and the manager gave us attitude. The bar drinks were watered down and our meals were less than impressive. Certainly a let down after so many people recommended that we dine there. We will NOT be back.
Stars: 1.0
User ID: tiJyyz1vay5pidPS63z7ZA
Text: As a 23 year Combat vet (Combat Medic) fellow vets please beware of this place. I served honorably with 10 of those years on foreign land. I say all of that to say this as a former 1SG I can not in good faith not warn my fellow active duty and fellow vets.

Liars, this was NOT a great experience.......On 17 June 2020 I visited this location while on vacation. After paying for my meal I left. A few minutes down the road I realized the waitress Amanda still had my card.  I called the restaurant told them Amanda still has my card.  I gave the person who answered the phone my Name for security purposes, the name of the credit card company,  the color of the card, what table I sat at, how many were in my party, and the amount. She then asked me was it a visa or mastercard?????? I simply asked do you have my credit card or not? so that I can call my bank and say that it was stolen or not. This person refused to even tell me if the card was there! They continued to give me a hard time to the point that I was forced to turn around and physically return to the restaurant.  When I got there I gave them my name and again asked for my card. It was given back to me immediately WITHOUT even checking my ID card or asking any questions.   I then proceeded to ask for a manager. I explained to him what his employee just did. He apologized but he missed the entire point. All the b.s on the phone but when I showed up in person the restaurant immediately handed over a credit card without asking for or looking at an ID card??????? BEWARE folks, I now have to shut down this card because of one unethical lying person. Waste of my time.
BTW ...As an avid fisherman  who has traveled the world, they served fish they claimed  was grouper that was definitely NOT grouper!
Stars: 1.0
User ID: iJGztQcsfhyFaGynrkj_Iw
Text: I had high hopes for this place based on reviews. I've never had a bad meal based on Yelp reviews...until this place. Highly disappointed in the food. All 3 of us were. I had the grilled grouper sandwich. Probably the most bland fish I've ever eaten and I've had grouper many times before. I'm not even sure it was grouper bc it wasn't flaky. One of us had the seafood pasta. It looked good but the mushrooms weren't cooked AT ALL. He also said it wasn't very flavorful. Another had the fried shrimp poboy. It's hard to mess that up. The shrimp was ok; cooked through w light breading, but they brought potato salad instead of fries when fries were ordered. They eventually brought fries though...and those were very good. The best part of the meal actually. None of the 3 of us said we would come back based on the food being very bland. I'm also almost 40 and felt as though I was the youngest customer by atleast 10 years..and this place was busy for lunch. Maybe that's why the food was bland? Who knows. I for one will not try this place again.
Stars: 1.0
User ID: XsS2gyRneoZSkzzA5Gg5JA
Text: FOOD POISONING!!! Ate there for lunch today. It was the only food I'd eaten since dinner the night before. Almost immediately after eating I could tell something was wrong, but I started to feel better about 15 minutes later. I didn't eat any thing else after that. Then about 4 hours after lunch with little warning it hit. I preyed for death. Feeling better now though.
Stars: 1.0
User ID: Cnc6-ft3j0Ll2Z-wVuwrZQ
Text: Really disappointed with this place. Cleanliness is a major concern, and the service was undesirable. I visited while on vacation and every single piece of dishware at our table was dirty. Was forced to send multiple dishes back. My brother in law had a view of the kitchen and he politely waited until after our meal to inform us of a number of dirty utencils being used handling food. Several spoons and tongs were dropped onto the floor and then picked up by the staff and used again to handle food without cleaning.

We found the bar staff to be rude, unfriendly, and all around unpleasant. It felt to us like because we were clearly from out of town they did not care to treat us respectfully. The waitstaff consists of mostly untrained youths, though this felt to us like a management shortcoming as opposed to these young staff not trying. They seemed to be giving an honest effort, but do not really have enough experience.

The food was just ok and was extremely expensive.

Will not return and will not recommend to anyone else.
Stars: 1.0
User ID: EeQav84vbTXVqa4ThaTaVw
Text: what a terrible experience. Getting seated for the 6 of us took 15 minutes even though they were only about half full for diner on a Saturday night. Once we did get seated the waitress took another 10 minutes to take our drink orders. We finally ordered our meals after being there for 45 minutes. No bigge we drank laughed and had fun despite the awful service. When our meal arrived I have to say every one of us was dissapointed. The mahi claimed to be fresh could not have been since it was still frozen inside. The prime rib or should I say the prime fat was pitaful. Chef ramsey would have fired someone for this act. I think you get the idea. A rookie beach restaurant playing on the toursist. We did not go back. We did have a few good meals at Pjs, Crabby Bills and the best was Seabreeze
My best advice stay far away
Stars: 1.0
User ID: 8Z-P3tBnUUjySrfImJYE1Q
Text: As local i frequent the Conch usually in the off season and the food and service is great.( which is noted in previous review) Tonight my wife and I got to the restaurant around 9:00 to avoid the rush and were seated outdoors. There was a medium crowd but not overly packed where service should be slow. Our waitress came to the table and we ordered drinks and the fish spread appetizer along with our meals which included salmon salad and the coconut shrimp that came with a house salad and my side was asparagus. Well my salad came out along with rolls. Let me start off by saying the Conch has the worst house salad which includes finely chopped iceberg lettuce, onions and broken nacho chips= zero. Well we finished the salad the rolls and sat there for a good 10 minutes afterwards waiting on fish spread or the waitress. Finally she appears serves the other table, the one next to us and is looking at us with a blank stare. I said "is there any word on our fish spread? She said Oh they didn't bring it out? Huh? Ok let me check on it. About five minutes after we left out meals came but no appetizer! So we started eating our meals and here comes out fish spread by another server/ manager maybe and he says you ordered the fish spread? I said yes but as an appetizer. So he offered us to keep the fish spread and they would comp. Ok.. Well let me go on about my coconut shrimp which was the worst I have ever eaten! It was dried out and disgusting. The dressing bowel for the shrimp is tiny, you can't even fit the shrimp in the dipping container. This particular meal is listed as BEST on the menu and cost 16.95. However when I FINALLY received my check it was 17.95. Well meal eaten still no waitress drink has been empty since I received my my main course. The waitress comes out and says takes our dishes and says would you like another drink? I said yes I would like a refill and she never comes back with my drink! She is literally standing at a station cleaning salt and pepper shakers and blank stare again! We ordered a to go sandwich and asked for take home box for our dogs. She comes out again with the boxes and sandwich and proceeds to ask my wife piece by piece of what she wanted in the take away box! I have never seen this before! Ever! Overall service was horrible and the the food totally disgusting! This is saying a lot by a couple that has eaten at this restaurant a lot!!  P. S they were out of mussels. Bad service is one thing but bad food NOT GOOD..
Stars: 1.0
User ID: yN4Y8cGIsubmYlnEYVQxpg
Text: Had such high hopes for this place. Total tourist trap with frozen reheated crap. Waitress was disinterested in helping us at all. We had to flash others down for water and utensils.
Stars: 1.0
User ID: 8rTVDQb676BUAxUyT_-pyw
Text: I have been going here for years and will no longer continue to do so. The service has fallen off a cliff...it's absolutely terrible.

I am used to waiting here and have no problem doing so. It's always been part of the fun to grab a drink at the bar. On a recent visit, I could not believe how bad the bar service has become. Quite honestly, it was the worst I have even seen anywhere.

I have no complaints with the kitchen, only the service on the floor. The staff should all be replaced. They're doing a really horrible job.

To reiterate, I will not return to this place ever in the future.
Stars: 1.0
User ID: bfD3COFpvCfb0R2nyLysPA
Text: The bar staff is about as warm as the wet wash cloth. If it was possible to get their attention you may be lucky enough to get a drink 5 minutes after yours is empty. None of them introduced themselves and they spent more time texting on their phones than serving or acknowledging customers. If poor and impersonal service is what you enjoy then this is certainly your place. I would suggest just passing by and save yourself the trouble and disappointment. Posted 10/7 9:47 pm
Stars: 1.0
User ID: _9O975-zBLPPiPNktpsS0g
Text: Beyond mad - hostess told us there was a table being cleared for us for outdoor seating, and she asked us to have a seat while they finished clearing it.  She left to seat other folks inside.  Hostess #2 promptly greeted another group who came in after us while we were still waiting and seated them at our table.  Were then told it would be at least a 20 min wait for the next outdoor table.  Left angry and will not be back - bad way to run a business.
Stars: 1.0
User ID: B3WtKjqfNQ_T5hSVj9QLVQ
Text: Made a reservation at 10 am with the restaurant for dinner for 9, showed up to the restaurant and no reservations to be found and was told it would be a 2 hour wait. I asked what happened to the reservation and they said that the wait is 2 hours with a reservation and that it would be more that 3 hours with out a res.
Very poor customer service.
Cant comment on the food as we never got a table.
Stars: 1.0
User ID: xUKYtNL3tRf15PtJI5O3jA
Text: Dinner here on Friday, November 6, 2015.

We had not been here in a long time.  I now remember why.  Sigh.

The place has such a great beach feel from outside.  It has a neat name.  Bright colors, fun looking from outside.  You drive by, and you think, we need to go there.  Well, after a long time, I surrendered and we went there for dinner last night.

The dinner rolls were really good.  That's about all that I can give high marks for.

The place is noisy and our waitress seemed clueless that it is. Okay, and speaking softly and leaning away from the table doesn't help.

The place inside feels the opposite of outside.  It feels dirty, dark, and tables are sticky.  It feels like the place needs to be power washed top to bottom multiple times and then repainted.  I'd be interested to know what the kitchen looks like as the dining area was just yuck.

The menus are similar.  They look and feel old and dirty.

The food is expensive and flavorless.  $28 for black grouper which was tasteless.  If this is the special, hate to tell you...you've got a problem!

So, we will return to driving by thinking wow, that place should be really good, but at least for awhile we will remember how bad it is on the inside and we will stay away.
Stars: 1.0
User ID: iSaaGolCBY2XANkWHC3rIw
Text: We went there for dinner on November 6th, 2017. Worst experience ever I ordered grilled mahi mahi it came up with bread crumbs on it. It smells very fishy and was a solid square piece of fish, definitely Frozen. I sent it back and ordered grilled salmon which was even worse. I figured let's order some wine. I didn't like the selection of wine on the happy hour menu so I opted for the Kendall-Jackson Chardonnay. This is where it really went downhill. The server gave us cheap box  wine and try to pass it off as the Kendall-Jackson. I asked to see the bottle and he said we can't do that. I complained to my manager. After waiting about 10 minutes to bartender brought over a "open bottle" of Kendall-Jackson and proceeded to pour it in my class. It tasted the same, I just figured out what they did it's called marrying the wine bottles.!!!  We basically paid for more expensive wine and got a lower quality. We paid the bill and left. Never to return again! Unless you don't care about quality of food then try it. In all fairness I must say the management was great they took my fish off the bill
Stars: 1.0
User ID: 3Ag2OdMHz-N9mJ344_bXcA
Text: We walked in at 11:04 am and stood at the host stand for a while and nobody saw us or sat us so we sat at a table and a loud obnoxious lady yelled "oh yeah just go ahead and seat yourselves" and continued to speak loudly to the other employees about my family in a rude way so we decided to get up and leave since we never received any menus or service or even a hello. Very rude and will never recommend this restaurant to anyone or ever step foot in that place again. I hope they don't treat anybody else this way. They deserve 0 stars.  What a shame
Stars: 1.0
User ID: -gse0d1avehR1ub1j02jbA
Text: Walked in on Sunday, 2/5/17 for a meal.  No greeting; stood at the hostess kiosk for several minutes watching the hostess writing on the chalk board.  Turned to a couple standing behind me, who was also waiting and we agreed that the hostess had nice printing with the multicolored chalk.  The hostess  finally noticed that people were waiting to be seated.  Sat inside at a table where I'd previously eaten...waited....waited...waited...waited...no one shows...finally a waitress walks by and asks if anyone has taken my order.  I say no, she brings me some water, and says my server would come by in a minute.  So I waited...and waited...and waited...the water was wet and cold...there was a slice of lemon in the water....I waited...and waited....finally I got up, approached the hostess, thanked her for seating me, and told her  that I was disappointed, not going to wait any longer, and I was leaving to go elsewhere.  Had previously enjoyed great service and delicious food at the Conch Republic - not this time.  At least the water was wet.  That's all the positive I can say about this visit.  Good bye.
Stars: 1.0
User ID: yyR1qtaPwfYrAAPxzCE_mw
Text: My child got sick from the food here. She had a kids hot dog tonight. Food was overpriced for quality. The appetizer trio for 15 bucks was a joke. 1crab cake, 3 shrimp and a few conch fritters.
Stars: 1.0
User ID: 5QK6FzRf-mw9P58wgGQNJA
Text: I have to start off; usually the service gets a 5 star. So there is that.

But today Dan from the kitchen who was referred to us as a manager and then claimed he was an owner and Amanda our server were astonishingly terrible. I mean I am flabbergasted.

I am a local and we eat here multiple times a week.  I know personally 4 of the other staff.

I was not even going to mention anything to the staff. I'm really not a complainer. BUT ANOTHER TABLE WITNESSING what was going on, who is also a local,who ALSO SAID they have had problems with Amanda, are actually the ones who told their server to send us a manger. That is how bad this was.

On top of Amanda screwing up most every part of her job. Order taking, reading customers and responding to them, bring stuff to the table. When we obviously complained about her service SHE NEVER ACKNOWLEDGED what she did. She just slapped a fake smile on (we can all tell the patronizing fakeness of your interactions with us. But please pretend you are just being pleasant and treat us like we are dumb and do not know how fake your smile is)

Yelling at us from across a patio over 6 different tables is also super inappropriate. Interrupting our conversations so you can be yelling from across the patio is also inappropriate.

Dropping the bill off and saying we comped you for the inconvenience and NOT ACKNOWLEDGING it was your poor service, is inappropriate.

I would rather pay full price for the meal and have you acknowledge your mistakes.

On top of it, my mom returning from the bathroom, wanted to return an ear piece and walkie talkie that one of the staff left in there. And walks up to hear Dan and Amanda disregarding us and talking about us to "just leave".


###6 order the users who are influential based on the positive reviews from the selected restaurant

In [ ]:
# Create a declarative base
Base = declarative_base()

class User(Base):

    __tablename__ = 'user'

    user_id = Column(String, primary_key=True)
    name = Column(String)
    fans = Column(Integer)
    review_count = Column(Integer)
    useful = Column(Integer)
    average_stars = Column(Double)
    # Define other columns as needed

    # Subquery to get the business_id for the specified city with the most review_count
    subquery_business = session.query(Business.business_id) \
        .filter(Business.city == "North Redington Bch") \
        .order_by(Business.review_count.desc()) \
        .limit(1) \
        .subquery()

    # Subquery to calculate the average of "stars" for the specified business
    avg_stars_subquery = session.query(func.avg(Review.stars)) \
        .filter(Review.business_id == subquery_business) \
        .subquery()

    # Subquery to get the user_id for reviews that meet specific criteria
    subquery_user = session.query(Review.user_id) \
        .filter(Review.business_id == subquery_business) \
        .filter(Review.useful > 0) \
        .filter(Review.stars > avg_stars_subquery) \
        .order_by(Review.stars.desc()) \
        .subquery()

    # Main query to fetch user information for users in the subquery_user results
    query = session.query(User.user_id, User.name, User.fans, User.review_count, User.useful, User.average_stars, Review.business_id) \
        .join(Review, User.user_id == Review.user_id) \
        .filter(User.user_id.in_(subquery_user)) \
        .filter(Review.business_id == subquery_business) \
        .order_by(User.fans.desc())

    results = query.all()

    for row in results:
        print("User ID:", row.user_id)
        print("Name:", row.name)
        print("Fans:", row.fans)
        print("Review Count:", row.review_count)
        print("Useful:", row.useful)
        print("Average Stars:", row.average_stars)
        print("Business ID:", row.business_id)

<ipython-input-156-d2cb315692c4>:2: MovedIn20Warning: The ``declarative_base()`` function is now available as sqlalchemy.orm.declarative_base(). (deprecated since: 2.0) (Background on SQLAlchemy 2.0 at: https://sqlalche.me/e/b8d9)
  Base = declarative_base()
<ipython-input-156-d2cb315692c4>:25: SAWarning: implicitly coercing SELECT object to scalar subquery; please use the .scalar_subquery() method to produce a scalar subquery.
  .filter(Review.business_id == subquery_business) \
<ipython-input-156-d2cb315692c4>:30: SAWarning: implicitly coercing SELECT object to scalar subquery; please use the .scalar_subquery() method to produce a scalar subquery.
  .filter(Review.business_id == subquery_business) \
<ipython-input-156-d2cb315692c4>:32: SAWarning: implicitly coercing SELECT object to scalar subquery; please use the .scalar_subquery() method to produce a scalar subquery.
  .filter(Review.stars > avg_stars_subquery) \
<ipython-input-156-d2cb315692c4>:39: SAWarning: Coercing Subquery object into a select() for use in IN(); please pass a select() construct explicitly
  .filter(User.user_id.in_(subquery_user)) \
<ipython-input-156-d2cb315692c4>:40: SAWarning: implicitly coercing SELECT object to scalar subquery; please use the .scalar_subquery() method to produce a scalar subquery.
  .filter(Review.business_id == subquery_business) \

User ID: qjfMBIZpQT9DDtw_BWCopQ
Name: Rachel
Fans: 278
Review Count: 2331
Useful: 17903
Average Stars: 4.08
Business ID: CgiwCrXs3Ggu9eKFPIgjtA
User ID: qjfMBIZpQT9DDtw_BWCopQ
Name: Rachel
Fans: 278
Review Count: 2331
Useful: 17903
Average Stars: 4.08
Business ID: CgiwCrXs3Ggu9eKFPIgjtA
User ID: zYFGMy1_thjMnvQLX6JNBw
Name: Wanda
Fans: 247
Review Count: 1405
Useful: 8607
Average Stars: 4.17
Business ID: CgiwCrXs3Ggu9eKFPIgjtA
User ID: VL12EhEdT4OWqGq0nIqkzw
Name: Mark
Fans: 142
Review Count: 1646
Useful: 5685
Average Stars: 3.58
Business ID: CgiwCrXs3Ggu9eKFPIgjtA
User ID: XbX53DUWFAzzc0BqS9BdyQ
Name: Debrin
Fans: 109
Review Count: 1337
Useful: 2974
Average Stars: 3.63
Business ID: CgiwCrXs3Ggu9eKFPIgjtA
User ID: fKXohnXgbxNEVgsAwpl9_w
Name: Tasha
Fans: 106
Review Count: 659
Useful: 3079
Average Stars: 4.01
Business ID: CgiwCrXs3Ggu9eKFPIgjtA
User ID: 97kcPPE8JFa38h6agzbAbw
Name: Lisa
Fans: 102
Review Count: 682
Useful: 4156
Average Stars: 4.21
Business ID: CgiwCrXs3Ggu9eKFPIgjtA
User ID: mQ7nxSdJsak1tlmP2TCPxg
Name: Raegan
Fans: 77
Review Count: 486
Useful: 5177
Average Stars: 4.52
Business ID: CgiwCrXs3Ggu9eKFPIgjtA
User ID: 0kAqAi3Jp3ieTRglPFQytQ
Name: Emma
Fans: 72
Review Count: 626
Useful: 1820
Average Stars: 4.4
Business ID: CgiwCrXs3Ggu9eKFPIgjtA
User ID: flxyHLLQraTnd_z0_OmTvw
Name: Donna
Fans: 59
Review Count: 899
Useful: 1584
Average Stars: 4.12
Business ID: CgiwCrXs3Ggu9eKFPIgjtA
User ID: TUR21jv1-_GCwmeO3ouOBg
Name: Sam
Fans: 58
Review Count: 362
Useful: 1032
Average Stars: 4.02
Business ID: CgiwCrXs3Ggu9eKFPIgjtA
User ID: RRYFQo17zogtYBbiUK4l_A
Name: Robbie
Fans: 58
Review Count: 843
Useful: 2949
Average Stars: 4.17
Business ID: CgiwCrXs3Ggu9eKFPIgjtA
User ID: JSzIwMqdSI74_ztnbWzsEA
Name: Gigi
Fans: 53
Review Count: 659
Useful: 1567
Average Stars: 3.5
Business ID: CgiwCrXs3Ggu9eKFPIgjtA
User ID: VzlX5LJ7__pl6AaBWBiw9w
Name: John
Fans: 49
Review Count: 743
Useful: 2285
Average Stars: 3.95
Business ID: CgiwCrXs3Ggu9eKFPIgjtA
User ID: oLjseICFHuisZmxrm6bqxA
Name: Cassandra
Fans: 42
Review Count: 734
Useful: 1211
Average Stars: 4.46
Business ID: CgiwCrXs3Ggu9eKFPIgjtA
User ID: RQjtzwpJOU3-_g_KxsbgUw
Name: Jerry
Fans: 42
Review Count: 352
Useful: 1553
Average Stars: 3.76
Business ID: CgiwCrXs3Ggu9eKFPIgjtA
User ID: 4kKngcDGjuzo18pxx5jHog
Name: Amanda
Fans: 41
Review Count: 409
Useful: 1082
Average Stars: 3.85
Business ID: CgiwCrXs3Ggu9eKFPIgjtA
User ID: JRnJvyx_FpvWMWWKic8arg
Name: Vivian
Fans: 41
Review Count: 365
Useful: 446
Average Stars: 4.12
Business ID: CgiwCrXs3Ggu9eKFPIgjtA
User ID: JRnJvyx_FpvWMWWKic8arg
Name: Vivian
Fans: 41
Review Count: 365
Useful: 446
Average Stars: 4.12
Business ID: CgiwCrXs3Ggu9eKFPIgjtA
User ID: YX927Jezj85xgM_XX6bVxw
Name: Corie
Fans: 38
Review Count: 303
Useful: 1267
Average Stars: 3.96
Business ID: CgiwCrXs3Ggu9eKFPIgjtA
User ID: BrKoAfW32omNcaFqW9pKsA
Name: Amber
Fans: 37
Review Count: 198
Useful: 339
Average Stars: 4.14
Business ID: CgiwCrXs3Ggu9eKFPIgjtA
User ID: hYRbFvJZGgJktISMQmQ--w
Name: Matthew
Fans: 36
Review Count: 829
Useful: 2082
Average Stars: 4.39
Business ID: CgiwCrXs3Ggu9eKFPIgjtA
User ID: akiIhaV0vVVfDwEozKZxEw
Name: Lori
Fans: 35
Review Count: 408
Useful: 1255
Average Stars: 3.81
Business ID: CgiwCrXs3Ggu9eKFPIgjtA
User ID: 5MYa3BbBU359oqcEYwY94w
Name: Lisa
Fans: 34
Review Count: 236
Useful: 717
Average Stars: 4.09
Business ID: CgiwCrXs3Ggu9eKFPIgjtA
User ID: yoBJL4FXulx0XwTki8U56Q
Name: Nicole
Fans: 33
Review Count: 180
Useful: 350
Average Stars: 4.48
Business ID: CgiwCrXs3Ggu9eKFPIgjtA
User ID: sVer7l3TKwICjZ6liQD53Q
Name: Hillary
Fans: 33
Review Count: 563
Useful: 964
Average Stars: 4.08
Business ID: CgiwCrXs3Ggu9eKFPIgjtA
User ID: sVer7l3TKwICjZ6liQD53Q
Name: Hillary
Fans: 33
Review Count: 563
Useful: 964
Average Stars: 4.08
Business ID: CgiwCrXs3Ggu9eKFPIgjtA
User ID: rv7iT5tOMxrrcaLdaQol2g
Name: Alan
Fans: 30
Review Count: 362
Useful: 462
Average Stars: 3.48
Business ID: CgiwCrXs3Ggu9eKFPIgjtA
User ID: FNYKurW-lqEj9q1UY6Y6XQ
Name: John C
Fans: 25
Review Count: 479
Useful: 878
Average Stars: 3.9
Business ID: CgiwCrXs3Ggu9eKFPIgjtA
User ID: FNYKurW-lqEj9q1UY6Y6XQ
Name: John C
Fans: 25
Review Count: 479
Useful: 878
Average Stars: 3.9
Business ID: CgiwCrXs3Ggu9eKFPIgjtA
User ID: GLeYLidXfRqN_Z4ItatwZA
Name: Susan
Fans: 24
Review Count: 477
Useful: 838
Average Stars: 3.43
Business ID: CgiwCrXs3Ggu9eKFPIgjtA
User ID: S4l9pobEywkceJRKhDDVIA
Name: Deb
Fans: 24
Review Count: 626
Useful: 1195
Average Stars: 3.46
Business ID: CgiwCrXs3Ggu9eKFPIgjtA
User ID: nQXLUFOsV5h26ShBgRLpGQ
Name: Eric
Fans: 24
Review Count: 502
Useful: 829
Average Stars: 3.99
Business ID: CgiwCrXs3Ggu9eKFPIgjtA
User ID: BsRsts5A_GkttQDrviw2-A
Name: Jim
Fans: 23
Review Count: 596
Useful: 874
Average Stars: 3.77
Business ID: CgiwCrXs3Ggu9eKFPIgjtA
User ID: BsRsts5A_GkttQDrviw2-A
Name: Jim
Fans: 23
Review Count: 596
Useful: 874
Average Stars: 3.77
Business ID: CgiwCrXs3Ggu9eKFPIgjtA
User ID: ZQ-hVBie3ls9u951cJkgSQ
Name: Mark
Fans: 23
Review Count: 465
Useful: 1129
Average Stars: 3.6
Business ID: CgiwCrXs3Ggu9eKFPIgjtA
User ID: qO9Q-BSCx0QiUF-J3cvVzw
Name: Lisa
Fans: 22
Review Count: 133
Useful: 506
Average Stars: 3.92
Business ID: CgiwCrXs3Ggu9eKFPIgjtA
User ID: nKopyIUMvUOV34MlZrDnmA
Name: Catherine
Fans: 21
Review Count: 169
Useful: 179
Average Stars: 3.99
Business ID: CgiwCrXs3Ggu9eKFPIgjtA
User ID: hFnJefu1e2PKNPoP_PwxHg
Name: Pamela
Fans: 20
Review Count: 87
Useful: 306
Average Stars: 4.13
Business ID: CgiwCrXs3Ggu9eKFPIgjtA
User ID: w6lA-N-PqwIVc8Il2nJogA
Name: Cameron
Fans: 16
Review Count: 216
Useful: 414
Average Stars: 3.89
Business ID: CgiwCrXs3Ggu9eKFPIgjtA
User ID: OaU23R7ehxXaTNc9Dmvwxw
Name: Ginger
Fans: 16
Review Count: 129
Useful: 157
Average Stars: 4.34
Business ID: CgiwCrXs3Ggu9eKFPIgjtA
User ID: rqjKNobn-NRMqrus7FaBOQ
Name: Laura
Fans: 16
Review Count: 265
Useful: 380
Average Stars: 4.13
Business ID: CgiwCrXs3Ggu9eKFPIgjtA
User ID: v6Jd2lpaKvyXpzzyNDelyw
Name: Amy
Fans: 14
Review Count: 379
Useful: 455
Average Stars: 3.46
Business ID: CgiwCrXs3Ggu9eKFPIgjtA
User ID: yfgsLSvLE99m4qSZblkDkQ
Name: Brooke
Fans: 14
Review Count: 223
Useful: 277
Average Stars: 4.12
Business ID: CgiwCrXs3Ggu9eKFPIgjtA
User ID: IML25ULTDCnR_o58BIQWuA
Name: Giga
Fans: 14
Review Count: 146
Useful: 343
Average Stars: 3.7800000000000002
Business ID: CgiwCrXs3Ggu9eKFPIgjtA
User ID: yAbq8ImPNvA1XDcSelDU9w
Name: Dr. Richard
Fans: 14
Review Count: 275
Useful: 354
Average Stars: 3.99
Business ID: CgiwCrXs3Ggu9eKFPIgjtA
User ID: IML25ULTDCnR_o58BIQWuA
Name: Giga
Fans: 14
Review Count: 146
Useful: 343
Average Stars: 3.7800000000000002
Business ID: CgiwCrXs3Ggu9eKFPIgjtA
User ID: XxdZiQySUh0g435t91-IIw
Name: Kendrick
Fans: 14
Review Count: 223
Useful: 293
Average Stars: 3.94
Business ID: CgiwCrXs3Ggu9eKFPIgjtA
User ID: AJvxlo01oPdosrsRZil_lQ
Name: Alejandra
Fans: 13
Review Count: 76
Useful: 191
Average Stars: 3.87
Business ID: CgiwCrXs3Ggu9eKFPIgjtA
User ID: tsjI3I4whly3VzF_a_E8ZA
Name: Nelson
Fans: 12
Review Count: 174
Useful: 397
Average Stars: 4.09
Business ID: CgiwCrXs3Ggu9eKFPIgjtA
User ID: O2Q7vi94mbVaXLp8S_WEmw
Name: Yanna
Fans: 12
Review Count: 79
Useful: 208
Average Stars: 3.71
Business ID: CgiwCrXs3Ggu9eKFPIgjtA
User ID: kuj0cETCTvYBhhGslwAR3Q
Name: Michelle
Fans: 11
Review Count: 219
Useful: 193
Average Stars: 4.3
Business ID: CgiwCrXs3Ggu9eKFPIgjtA
User ID: 3LO2sjlWzsSH1ZZbjsIuwQ
Name: Kevin
Fans: 10
Review Count: 54
Useful: 121
Average Stars: 3.9
Business ID: CgiwCrXs3Ggu9eKFPIgjtA
User ID: dzSit2MTSrr9s-FVCnzeYA
Name: Kathleen
Fans: 10
Review Count: 289
Useful: 379
Average Stars: 3.75
Business ID: CgiwCrXs3Ggu9eKFPIgjtA
User ID: dzSit2MTSrr9s-FVCnzeYA
Name: Kathleen
Fans: 10
Review Count: 289
Useful: 379
Average Stars: 3.75
Business ID: CgiwCrXs3Ggu9eKFPIgjtA
User ID: fTcniT-xE2KzWBW7q1xq-A
Name: Abby
Fans: 10
Review Count: 88
Useful: 73
Average Stars: 4.47
Business ID: CgiwCrXs3Ggu9eKFPIgjtA
User ID: p0CA3juBAIkSMI9hkE5FKg
Name: Rob
Fans: 10
Review Count: 97
Useful: 173
Average Stars: 3.95
Business ID: CgiwCrXs3Ggu9eKFPIgjtA
User ID: z-809wqXxXV-uMloYn1uHw
Name: Brett
Fans: 9
Review Count: 321
Useful: 200
Average Stars: 3.65
Business ID: CgiwCrXs3Ggu9eKFPIgjtA
User ID: 1ZryQp4rJvOdMsOthS0lUQ
Name: Brian
Fans: 9
Review Count: 70
Useful: 115
Average Stars: 4.23
Business ID: CgiwCrXs3Ggu9eKFPIgjtA
User ID: 3hNznmNfUxwVenxM-I2AfA
Name: Raquel
Fans: 9
Review Count: 144
Useful: 315
Average Stars: 4.16
Business ID: CgiwCrXs3Ggu9eKFPIgjtA
User ID: 4zFA3Z7XRySYzi3aI-dBhA
Name: Jada
Fans: 9
Review Count: 80
Useful: 104
Average Stars: 4.49
Business ID: CgiwCrXs3Ggu9eKFPIgjtA
User ID: H0waORgDoArqKKs4bzkd6A
Name: Brandon
Fans: 9
Review Count: 138
Useful: 248
Average Stars: 3.68
Business ID: CgiwCrXs3Ggu9eKFPIgjtA
User ID: wuvGJ4pLM37f5BUij2K55Q
Name: Michelle
Fans: 8
Review Count: 165
Useful: 203
Average Stars: 4.03
Business ID: CgiwCrXs3Ggu9eKFPIgjtA
User ID: 4shObKx859r99ypXbdEVyQ
Name: Ken
Fans: 8
Review Count: 154
Useful: 77
Average Stars: 3.33
Business ID: CgiwCrXs3Ggu9eKFPIgjtA
User ID: Tx643uSIwX2UsoD-5YR1eA
Name: Christopher
Fans: 7
Review Count: 305
Useful: 353
Average Stars: 3.99
Business ID: CgiwCrXs3Ggu9eKFPIgjtA
User ID: AB1GP0xED44J2a3sFMXTJA
Name: Kenneth
Fans: 7
Review Count: 54
Useful: 122
Average Stars: 4.32
Business ID: CgiwCrXs3Ggu9eKFPIgjtA
User ID: Xb4RTN5-10NRpeijWRDSXA
Name: Dani
Fans: 6
Review Count: 109
Useful: 175
Average Stars: 3.75
Business ID: CgiwCrXs3Ggu9eKFPIgjtA
User ID: 7HowGU8oEguiQrpsDWpNAw
Name: Mike
Fans: 6
Review Count: 267
Useful: 446
Average Stars: 4.4
Business ID: CgiwCrXs3Ggu9eKFPIgjtA
User ID: UkNEhnVx8vNg07J54t5Gxw
Name: Lee
Fans: 6
Review Count: 74
Useful: 115
Average Stars: 3.32
Business ID: CgiwCrXs3Ggu9eKFPIgjtA
User ID: 3bJxeNc9Oygi79CcgTfPvQ
Name: Erick
Fans: 6
Review Count: 40
Useful: 69
Average Stars: 4.33
Business ID: CgiwCrXs3Ggu9eKFPIgjtA
User ID: BrhwZCoV-kd5JbV8G6gHLw
Name: Matthew
Fans: 5
Review Count: 93
Useful: 130
Average Stars: 3.66
Business ID: CgiwCrXs3Ggu9eKFPIgjtA
User ID: WjZJ9PYJFbXCH1kcoQWHMQ
Name: Charlene
Fans: 5
Review Count: 31
Useful: 37
Average Stars: 4.59
Business ID: CgiwCrXs3Ggu9eKFPIgjtA
User ID: ky3m9-iihoIPInRcJM1r0Q
Name: Justin
Fans: 4
Review Count: 74
Useful: 101
Average Stars: 2.7800000000000002
Business ID: CgiwCrXs3Ggu9eKFPIgjtA
User ID: HNBRS66Jd3YYSd__tYwCGg
Name: Krysia
Fans: 4
Review Count: 337
Useful: 364
Average Stars: 3.56
Business ID: CgiwCrXs3Ggu9eKFPIgjtA
User ID: OBYvx2mZ4jujRxt7GJEsoQ
Name: Nick
Fans: 4
Review Count: 76
Useful: 107
Average Stars: 3.12
Business ID: CgiwCrXs3Ggu9eKFPIgjtA
User ID: 0PYAlq7zuAFC8oo37DT5YA
Name: Ella
Fans: 4
Review Count: 54
Useful: 61
Average Stars: 3.89
Business ID: CgiwCrXs3Ggu9eKFPIgjtA
User ID: Bab2Cs8K6XYPG0USqVf70g
Name: Dave
Fans: 4
Review Count: 167
Useful: 178
Average Stars: 4.05
Business ID: CgiwCrXs3Ggu9eKFPIgjtA
User ID: 8qsYuxyvpXDnFNKNvsjLIQ
Name: Sarah
Fans: 3
Review Count: 40
Useful: 95
Average Stars: 3.73
Business ID: CgiwCrXs3Ggu9eKFPIgjtA
User ID: T-8cwk0EBHalAw5F7u1QsA
Name: Ethel
Fans: 3
Review Count: 77
Useful: 91
Average Stars: 4.19
Business ID: CgiwCrXs3Ggu9eKFPIgjtA
User ID: cNUYt0H8-BOJl-adgBAkWg
Name: Julie
Fans: 3
Review Count: 90
Useful: 115
Average Stars: 4.49
Business ID: CgiwCrXs3Ggu9eKFPIgjtA
User ID: PcTKD5172Yer60ZBiev4rg
Name: Heather
Fans: 3
Review Count: 125
Useful: 302
Average Stars: 3.55
Business ID: CgiwCrXs3Ggu9eKFPIgjtA
User ID: cNUYt0H8-BOJl-adgBAkWg
Name: Julie
Fans: 3
Review Count: 90
Useful: 115
Average Stars: 4.49
Business ID: CgiwCrXs3Ggu9eKFPIgjtA
User ID: jtz7BwON80c1LW_W8K8K5g
Name: Ann
Fans: 3
Review Count: 20
Useful: 29
Average Stars: 4.14
Business ID: CgiwCrXs3Ggu9eKFPIgjtA
User ID: YEP_31FTnDQV5tQ7pKxZbw
Name: Jasmine
Fans: 3
Review Count: 113
Useful: 59
Average Stars: 4.0
Business ID: CgiwCrXs3Ggu9eKFPIgjtA
User ID: dQ9ZMROuyB2MT0KRwahh1w
Name: Mary
Fans: 3
Review Count: 111
Useful: 304
Average Stars: 3.31
Business ID: CgiwCrXs3Ggu9eKFPIgjtA
User ID: IIZMembzxWHRIo4dlvsjJA
Name: Natalie
Fans: 3
Review Count: 21
Useful: 19
Average Stars: 4.5
Business ID: CgiwCrXs3Ggu9eKFPIgjtA
User ID: dQ9ZMROuyB2MT0KRwahh1w
Name: Mary
Fans: 3
Review Count: 111
Useful: 304
Average Stars: 3.31
Business ID: CgiwCrXs3Ggu9eKFPIgjtA
User ID: hPHGAFid8Jd7l8fAHmiW8Q
Name: Meghan
Fans: 3
Review Count: 63
Useful: 64
Average Stars: 4.25
Business ID: CgiwCrXs3Ggu9eKFPIgjtA
User ID: Vv_pXfHIGAiOtWlOZ0dunQ
Name: Richard
Fans: 2
Review Count: 14
Useful: 20
Average Stars: 3.0
Business ID: CgiwCrXs3Ggu9eKFPIgjtA
User ID: SxDSIESwI1I9j_7Y3NYTaw
Name: Steve
Fans: 2
Review Count: 17
Useful: 39
Average Stars: 2.63
Business ID: CgiwCrXs3Ggu9eKFPIgjtA
User ID: Z_G3OpTbDPCkaiq58BcigQ
Name: Elizabeth
Fans: 2
Review Count: 60
Useful: 129
Average Stars: 3.92
Business ID: CgiwCrXs3Ggu9eKFPIgjtA
User ID: GCCdAmPgPd8n0Cv1NgUuUg
Name: Sierra
Fans: 2
Review Count: 39
Useful: 17
Average Stars: 4.73
Business ID: CgiwCrXs3Ggu9eKFPIgjtA
User ID: TfeDrNQDWHL3aYm_OCmdWQ
Name: Maisie
Fans: 2
Review Count: 53
Useful: 40
Average Stars: 3.95
Business ID: CgiwCrXs3Ggu9eKFPIgjtA
User ID: cOGxyZMbq-APQUcRFEEv1w
Name: Austin
Fans: 2
Review Count: 29
Useful: 30
Average Stars: 4.73
Business ID: CgiwCrXs3Ggu9eKFPIgjtA
User ID: ikf0MyEpa7QEeFLFxm7sqA
Name: Stephanie
Fans: 2
Review Count: 131
Useful: 68
Average Stars: 4.24
Business ID: CgiwCrXs3Ggu9eKFPIgjtA
User ID: cHk4cOtPGAP7lIUBWeoEUA
Name: Carl
Fans: 2
Review Count: 84
Useful: 57
Average Stars: 3.67
Business ID: CgiwCrXs3Ggu9eKFPIgjtA
User ID: BIudqgiWdTMsY3tW-LLAJA
Name: Joseph
Fans: 2
Review Count: 163
Useful: 140
Average Stars: 3.55
Business ID: CgiwCrXs3Ggu9eKFPIgjtA
User ID: GCCdAmPgPd8n0Cv1NgUuUg
Name: Sierra
Fans: 2
Review Count: 39
Useful: 17
Average Stars: 4.73
Business ID: CgiwCrXs3Ggu9eKFPIgjtA
User ID: cOGxyZMbq-APQUcRFEEv1w
Name: Austin
Fans: 2
Review Count: 29
Useful: 30
Average Stars: 4.73
Business ID: CgiwCrXs3Ggu9eKFPIgjtA
User ID: BTCXU23_haEjUV0msws91Q
Name: Elizabeth
Fans: 2
Review Count: 31
Useful: 20
Average Stars: 4.17
Business ID: CgiwCrXs3Ggu9eKFPIgjtA
User ID: s4-IEp4Ap_Q2uhLDoPHRbQ
Name: TaMisha
Fans: 2
Review Count: 57
Useful: 83
Average Stars: 4.25
Business ID: CgiwCrXs3Ggu9eKFPIgjtA
User ID: tzTKvAc5U3W2TNgtEthqvw
Name: Tim
Fans: 2
Review Count: 160
Useful: 35
Average Stars: 4.09
Business ID: CgiwCrXs3Ggu9eKFPIgjtA
User ID: BIudqgiWdTMsY3tW-LLAJA
Name: Joseph
Fans: 2
Review Count: 163
Useful: 140
Average Stars: 3.55
Business ID: CgiwCrXs3Ggu9eKFPIgjtA
User ID: p0bBpQJJmLKQp_BmcTCfWQ
Name: Amy
Fans: 2
Review Count: 54
Useful: 60
Average Stars: 3.89
Business ID: CgiwCrXs3Ggu9eKFPIgjtA
User ID: cgYzHVLU9kDkUH5WWuJnwQ
Name: Angela
Fans: 1
Review Count: 71
Useful: 23
Average Stars: 4.68
Business ID: CgiwCrXs3Ggu9eKFPIgjtA
User ID: fsBztGedjuf1fix93xTA7g
Name: Vanessa
Fans: 1
Review Count: 20
Useful: 23
Average Stars: 4.33
Business ID: CgiwCrXs3Ggu9eKFPIgjtA
User ID: qOiQaYxgkxCsKRo4ctaAjw
Name: Steve
Fans: 1
Review Count: 25
Useful: 40
Average Stars: 3.59
Business ID: CgiwCrXs3Ggu9eKFPIgjtA
User ID: 14xTmsCMzu47_01MbHW0Wg
Name: Jack
Fans: 1
Review Count: 93
Useful: 83
Average Stars: 3.96
Business ID: CgiwCrXs3Ggu9eKFPIgjtA
User ID: N71AL4-aW4k8hSv1EBNDow
Name: Bob
Fans: 1
Review Count: 63
Useful: 21
Average Stars: 4.63
Business ID: CgiwCrXs3Ggu9eKFPIgjtA
User ID: RDZLAXaRXxsntjT-MiPMIQ
Name: Jason
Fans: 1
Review Count: 22
Useful: 28
Average Stars: 4.05
Business ID: CgiwCrXs3Ggu9eKFPIgjtA
User ID: smcFZqRnSK7SqqCM1-4m9g
Name: Carter
Fans: 1
Review Count: 13
Useful: 13
Average Stars: 3.33
Business ID: CgiwCrXs3Ggu9eKFPIgjtA
User ID: zPWo_0tXUd_90QIA9oI5Xg
Name: Skylar
Fans: 1
Review Count: 28
Useful: 69
Average Stars: 4.28
Business ID: CgiwCrXs3Ggu9eKFPIgjtA
User ID: smcFZqRnSK7SqqCM1-4m9g
Name: Carter
Fans: 1
Review Count: 13
Useful: 13
Average Stars: 3.33
Business ID: CgiwCrXs3Ggu9eKFPIgjtA
User ID: RK6nwZME_kb_60wZjX7D4w
Name: Jason
Fans: 1
Review Count: 63
Useful: 93
Average Stars: 3.92
Business ID: CgiwCrXs3Ggu9eKFPIgjtA
User ID: d0J9Xr3APqscLN6eJcacmw
Name: Kat
Fans: 1
Review Count: 63
Useful: 141
Average Stars: 3.93
Business ID: CgiwCrXs3Ggu9eKFPIgjtA
User ID: 7XoG1YawkyiKGQPHMy0CyQ
Name: Sean
Fans: 1
Review Count: 44
Useful: 96
Average Stars: 2.95
Business ID: CgiwCrXs3Ggu9eKFPIgjtA
User ID: 4KQg4656gwabk6QA3s8DTw
Name: Meri
Fans: 1
Review Count: 20
Useful: 23
Average Stars: 4.55
Business ID: CgiwCrXs3Ggu9eKFPIgjtA
User ID: yzZGZxSh_UAllTeW-cOaAQ
Name: Terry
Fans: 1
Review Count: 29
Useful: 15
Average Stars: 4.45
Business ID: CgiwCrXs3Ggu9eKFPIgjtA
User ID: HvqPjRwE_lFKBSX1wu3FEg
Name: Elyse
Fans: 1
Review Count: 10
Useful: 7
Average Stars: 3.4
Business ID: CgiwCrXs3Ggu9eKFPIgjtA
User ID: A0IKTGsWYps6zd5y7Awgog
Name: Jessica
Fans: 0
Review Count: 7
Useful: 11
Average Stars: 4.57
Business ID: CgiwCrXs3Ggu9eKFPIgjtA
User ID: awwmLp3nR3eH6csHa5DSjg
Name: Nadia
Fans: 0
Review Count: 105
Useful: 90
Average Stars: 3.64
Business ID: CgiwCrXs3Ggu9eKFPIgjtA
User ID: A7DaOxu-QJdbA3MFNAn3Aw
Name: Maggie
Fans: 0
Review Count: 36
Useful: 88
Average Stars: 4.29
Business ID: CgiwCrXs3Ggu9eKFPIgjtA
User ID: YkM43uWO-DbLbTfK3X5b6A
Name: Keith
Fans: 0
Review Count: 49
Useful: 23
Average Stars: 4.36
Business ID: CgiwCrXs3Ggu9eKFPIgjtA
User ID: 6IkEllteLjCNNr9CZKrFMg
Name: Joyce
Fans: 0
Review Count: 15
Useful: 13
Average Stars: 3.63
Business ID: CgiwCrXs3Ggu9eKFPIgjtA
User ID: mzhWrvXJ18zBaXdkHd1BRQ
Name: Brandy
Fans: 0
Review Count: 58
Useful: 78
Average Stars: 4.2
Business ID: CgiwCrXs3Ggu9eKFPIgjtA
User ID: 5MvygdZZmIQhw4sO3zPvUQ
Name: Annette
Fans: 0
Review Count: 18
Useful: 22
Average Stars: 4.17
Business ID: CgiwCrXs3Ggu9eKFPIgjtA
User ID: N4ZYI5uPUNzIjdfy2bnBNg
Name: Stephen
Fans: 0
Review Count: 76
Useful: 16
Average Stars: 4.4
Business ID: CgiwCrXs3Ggu9eKFPIgjtA
User ID: D1KqVLAJdZ_3IXxWn9vi2A
Name: T
Fans: 0
Review Count: 4
Useful: 6
Average Stars: 3.0
Business ID: CgiwCrXs3Ggu9eKFPIgjtA
User ID: mK4SzVdBxAIU-5QNU-dQzg
Name: Karen
Fans: 0
Review Count: 3
Useful: 3
Average Stars: 3.0
Business ID: CgiwCrXs3Ggu9eKFPIgjtA
User ID: Z83WlWUpjpJiuszIxXmdOg
Name: Sue
Fans: 0
Review Count: 27
Useful: 12
Average Stars: 3.79
Business ID: CgiwCrXs3Ggu9eKFPIgjtA
User ID: h41JDO4zaoSArc01QDWcUw
Name: Travis
Fans: 0
Review Count: 16
Useful: 10
Average Stars: 3.65
Business ID: CgiwCrXs3Ggu9eKFPIgjtA
User ID: O4Xm9j7RN880whmgOWl0OQ
Name: Stephanie
Fans: 0
Review Count: 20
Useful: 4
Average Stars: 4.2
Business ID: CgiwCrXs3Ggu9eKFPIgjtA
User ID: GqzvWtYqvlYS2fDKU0Sbsg
Name: Dre
Fans: 0
Review Count: 8
Useful: 17
Average Stars: 3.88
Business ID: CgiwCrXs3Ggu9eKFPIgjtA
User ID: YkM43uWO-DbLbTfK3X5b6A
Name: Keith
Fans: 0
Review Count: 49
Useful: 23
Average Stars: 4.36
Business ID: CgiwCrXs3Ggu9eKFPIgjtA
User ID: fYSTdVTN1C-oS6gHFwqiEQ
Name: Raquel
Fans: 0
Review Count: 29
Useful: 4
Average Stars: 4.43
Business ID: CgiwCrXs3Ggu9eKFPIgjtA
User ID: k29UwPOi5sXlHM4cZc6XeQ
Name: Heather
Fans: 0
Review Count: 16
Useful: 5
Average Stars: 4.13
Business ID: CgiwCrXs3Ggu9eKFPIgjtA
User ID: yjYFvdNCQ6mkn_1QQ5osuQ
Name: Kenny
Fans: 0
Review Count: 6
Useful: 4
Average Stars: 4.17
Business ID: CgiwCrXs3Ggu9eKFPIgjtA
User ID: S__5gLWe9GD4hdbHdjGS9Q
Name: Sarah
Fans: 0
Review Count: 8
Useful: 3
Average Stars: 5.0
Business ID: CgiwCrXs3Ggu9eKFPIgjtA
User ID: YlovcI2c1e8u9wV2pExD9g
Name: Jami
Fans: 0
Review Count: 4
Useful: 5
Average Stars: 3.0
Business ID: CgiwCrXs3Ggu9eKFPIgjtA
User ID: XqX9mRyJm9dowI0fYQychw
Name: Jason
Fans: 0
Review Count: 9
Useful: 2
Average Stars: 3.33
Business ID: CgiwCrXs3Ggu9eKFPIgjtA
User ID: roLYLd8oPZL_SzulZnxeAw
Name: Todd
Fans: 0
Review Count: 27
Useful: 16
Average Stars: 3.09
Business ID: CgiwCrXs3Ggu9eKFPIgjtA
User ID: xPxidWHAIf18UGl0en3qvg
Name: Candie
Fans: 0
Review Count: 17
Useful: 2
Average Stars: 5.0
Business ID: CgiwCrXs3Ggu9eKFPIgjtA
User ID: 6S5j7-uDbHjdiDOHdctkTA
Name: Dawn
Fans: 0
Review Count: 49
Useful: 61
Average Stars: 3.83
Business ID: CgiwCrXs3Ggu9eKFPIgjtA
User ID: 3H-S_UuvZ42DyNXy9Q8K8Q
Name: Ro
Fans: 0
Review Count: 9
Useful: 6
Average Stars: 2.9
Business ID: CgiwCrXs3Ggu9eKFPIgjtA
User ID: pZDqIIatGeEjiRWY7se2UA
Name: Tammy
Fans: 0
Review Count: 51
Useful: 24
Average Stars: 3.05

###7 order the users who are influential based on the negative reviews from the selected restaurant

In [ ]:

    # Subquery to get the business_id for the specified city with the most review_count
    subquery_business = session.query(Business.business_id) \
        .filter(Business.city == "North Redington Bch") \
        .order_by(Business.review_count.desc()) \
        .limit(1) \
        .subquery()

    # Subquery to get user_id for reviews that meet specific criteria
    subquery_user = session.query(Review.user_id) \
        .filter(Review.business_id == subquery_business) \
        .filter(Review.useful > 0) \
        .filter((Review.stars == 1) | (Review.stars == 0)) \
        .subquery()

    # Main query to fetch user information for users in the subquery_user results
    query = session.query(User.user_id, User.name, User.fans, User.review_count, User.useful, User.average_stars, Review.business_id) \
        .join(Review, User.user_id == Review.user_id) \
        .filter(User.user_id.in_(subquery_user)) \
        .filter(Review.business_id == subquery_business) \
        .order_by(User.fans.desc())

    results = query.all()

    for row in results:
        print("User ID:", row.user_id)
        print("Name:", row.name)
        print("Fans:", row.fans)
        print("Review Count:", row.review_count)
        print("Useful:", row.useful)
        print("Average Stars:", row.average_stars)
        print("Business ID:", row.business_id)

<ipython-input-157-3588d2dc8623>:10: SAWarning: implicitly coercing SELECT object to scalar subquery; please use the .scalar_subquery() method to produce a scalar subquery.
  .filter(Review.business_id == subquery_business) \
<ipython-input-157-3588d2dc8623>:18: SAWarning: Coercing Subquery object into a select() for use in IN(); please pass a select() construct explicitly
  .filter(User.user_id.in_(subquery_user)) \
<ipython-input-157-3588d2dc8623>:19: SAWarning: implicitly coercing SELECT object to scalar subquery; please use the .scalar_subquery() method to produce a scalar subquery.
  .filter(Review.business_id == subquery_business) \

User ID: xUKYtNL3tRf15PtJI5O3jA
Name: E
Fans: 7
Review Count: 403
Useful: 290
Average Stars: 2.67
Business ID: CgiwCrXs3Ggu9eKFPIgjtA
User ID: 3Ag2OdMHz-N9mJ344_bXcA
Name: Jessica
Fans: 1
Review Count: 1
Useful: 2
Average Stars: 1.0
Business ID: CgiwCrXs3Ggu9eKFPIgjtA
User ID: 8Z-P3tBnUUjySrfImJYE1Q
Name: Scott
Fans: 1
Review Count: 9
Useful: 6
Average Stars: 2.8200000000000003
Business ID: CgiwCrXs3Ggu9eKFPIgjtA
User ID: B3WtKjqfNQ_T5hSVj9QLVQ
Name: John
Fans: 1
Review Count: 23
Useful: 9
Average Stars: 4.33
Business ID: CgiwCrXs3Ggu9eKFPIgjtA
User ID: iJGztQcsfhyFaGynrkj_Iw
Name: Ryan
Fans: 1
Review Count: 89
Useful: 50
Average Stars: 3.55
Business ID: CgiwCrXs3Ggu9eKFPIgjtA
User ID: yyR1qtaPwfYrAAPxzCE_mw
Name: Shelly
Fans: 1
Review Count: 97
Useful: 178
Average Stars: 2.55
Business ID: CgiwCrXs3Ggu9eKFPIgjtA
User ID: B3WtKjqfNQ_T5hSVj9QLVQ
Name: John
Fans: 1
Review Count: 23
Useful: 9
Average Stars: 4.33
Business ID: CgiwCrXs3Ggu9eKFPIgjtA
User ID: 8Z-P3tBnUUjySrfImJYE1Q
Name: Scott
Fans: 1
Review Count: 9
Useful: 6
Average Stars: 2.8200000000000003
Business ID: CgiwCrXs3Ggu9eKFPIgjtA
User ID: 1e_cpvQJGq0BBRR9XwTaOg
Name: DC
Fans: 0
Review Count: 6
Useful: 2
Average Stars: 2.83
Business ID: CgiwCrXs3Ggu9eKFPIgjtA
User ID: tiJyyz1vay5pidPS63z7ZA
Name: Isaac
Fans: 0
Review Count: 14
Useful: 9
Average Stars: 3.25
Business ID: CgiwCrXs3Ggu9eKFPIgjtA
User ID: _9O975-zBLPPiPNktpsS0g
Name: Kelly
Fans: 0
Review Count: 6
Useful: 1
Average Stars: 4.33
Business ID: CgiwCrXs3Ggu9eKFPIgjtA
User ID: oITySrigUbKMdWSmrBJmQA
Name: Michael
Fans: 0
Review Count: 25
Useful: 10
Average Stars: 4.04
Business ID: CgiwCrXs3Ggu9eKFPIgjtA
User ID: -gse0d1avehR1ub1j02jbA
Name: Ronald
Fans: 0
Review Count: 31
Useful: 58
Average Stars: 1.3599999999999999
Business ID: CgiwCrXs3Ggu9eKFPIgjtA
User ID: XsS2gyRneoZSkzzA5Gg5JA
Name: Scott
Fans: 0
Review Count: 39
Useful: 68
Average Stars: 2.98
Business ID: CgiwCrXs3Ggu9eKFPIgjtA
User ID: Cnc6-ft3j0Ll2Z-wVuwrZQ
Name: Monkey
Fans: 0
Review Count: 19
Useful: 17
Average Stars: 3.15
Business ID: CgiwCrXs3Ggu9eKFPIgjtA
User ID: EeQav84vbTXVqa4ThaTaVw
Name: Martin
Fans: 0
Review Count: 9
Useful: 19
Average Stars: 2.43
Business ID: CgiwCrXs3Ggu9eKFPIgjtA
User ID: Piyr8nhX9xd0payzBPvkoA
Name: Mike
Fans: 0
Review Count: 21
Useful: 8
Average Stars: 4.18
Business ID: CgiwCrXs3Ggu9eKFPIgjtA
User ID: yN4Y8cGIsubmYlnEYVQxpg
Name: Stephanie
Fans: 0
Review Count: 12
Useful: 8
Average Stars: 3.17
Business ID: CgiwCrXs3Ggu9eKFPIgjtA
User ID: 8rTVDQb676BUAxUyT_-pyw
Name: David
Fans: 0
Review Count: 8
Useful: 16
Average Stars: 2.38
Business ID: CgiwCrXs3Ggu9eKFPIgjtA
User ID: ChrdTlE-ATD7kil4mPU14w
Name: Joe
Fans: 0
Review Count: 84
Useful: 30
Average Stars: 2.8
Business ID: CgiwCrXs3Ggu9eKFPIgjtA
User ID: bfD3COFpvCfb0R2nyLysPA
Name: Billy
Fans: 0
Review Count: 11
Useful: 8
Average Stars: 1.18
Business ID: CgiwCrXs3Ggu9eKFPIgjtA
User ID: -gse0d1avehR1ub1j02jbA
Name: Ronald
Fans: 0
Review Count: 31
Useful: 58
Average Stars: 1.3599999999999999
Business ID: CgiwCrXs3Ggu9eKFPIgjtA
User ID: iSaaGolCBY2XANkWHC3rIw
Name: Tiana
Fans: 0
Review Count: 12
Useful: 6
Average Stars: 2.13
Business ID: CgiwCrXs3Ggu9eKFPIgjtA
User ID: -gse0d1avehR1ub1j02jbA
Name: Ronald
Fans: 0
Review Count: 31
Useful: 58
Average Stars: 1.3599999999999999
Business ID: CgiwCrXs3Ggu9eKFPIgjtA
User ID: 5QK6FzRf-mw9P58wgGQNJA
Name: M Kristina
Fans: 0
Review Count: 1
Useful: 3
Average Stars: 1.0
Business ID: CgiwCrXs3Ggu9eKFPIgjtA
User ID: k6rthGDI6-csB3oHoH_9gw
Name: Dave
Fans: 0
Review Count: 4
Useful: 8
Average Stars: 1.0
Business ID: CgiwCrXs3Ggu9eKFPIgjtA
User ID: ZlP3tw2Q0B8574d-KcZndw
Name: Karesa
Fans: 0
Review Count: 12
Useful: 5
Average Stars: 3.92
Business ID: CgiwCrXs3Ggu9eKFPIgjtA

###8 Get the average of stars in the latest year of the restaurant

In [ ]:

    # Subquery to get the business_id for the specified city with the most review_count
    subquery_business = session.query(Business.business_id) \
        .filter(Business.city == "North Redington Bch") \
        .order_by(Business.review_count.desc()) \
        .limit(1) \
        .subquery()

    # Main query to calculate the average stars for the specified business in the given date range
    query = session.query(
        Review.business_id,
        func.avg(Review.stars).label('avg_stars_recent')
    ) \
    .filter(Review.business_id == subquery_business) \
    .filter(Review.date.between('2017-01-01', '2018-12-31')) \
    .group_by(Review.business_id)

    results = query.all()

    for row in results:
        print("Business ID:", row.business_id)
        print("Average Stars (Recent):", row.avg_stars_recent)

<ipython-input-158-0e0c8550f98e>:13: SAWarning: implicitly coercing SELECT object to scalar subquery; please use the .scalar_subquery() method to produce a scalar subquery.
  .filter(Review.business_id == subquery_business) \

Business ID: CgiwCrXs3Ggu9eKFPIgjtA
Average Stars (Recent): 4.0268

###9 Check whether the selected restauant is still operating

In [ ]:

    # Subquery to get the business_id for the specified city with the most review_count
    subquery_business = session.query(Business.business_id) \
        .filter(Business.city == "North Redington Bch") \
        .order_by(Business.review_count.desc()) \
        .limit(1) \
        .subquery()

    # Main query to fetch the business name and is_open status for the specified business
    query = session.query(
        Business.name,
        Business.is_open
    ) \
    .filter(Business.business_id == subquery_business) \
    .order_by(Business.is_open.desc())

    results = query.all()

    for row in results:
        print("Name:", row.name)
        print("Is Open:", row.is_open)

<ipython-input-161-61ddadd5f67d>:13: SAWarning: implicitly coercing SELECT object to scalar subquery; please use the .scalar_subquery() method to produce a scalar subquery.
  .filter(Business.business_id == subquery_business) \

Name: Conch Republic Grill
Is Open: 1

###10 Examine the attributes of the selected restaurant and see where can we improve

In [ ]:

    # Subquery to get the business_id for the specified city with the most review_count
    subquery_business = session.query(Business.business_id) \
        .filter(Business.city == "North Redington Bch") \
        .order_by(Business.review_count.desc()) \
        .limit(1) \
        .subquery()

    # Main query to fetch the attributes for the specified business
    query = session.query(Business.attributes) \
        .filter(Business.business_id == subquery_business)

    results = query.all()

    for row in results:
        print("Attributes:", row.attributes)

    session.close()

<ipython-input-163-0c3ed41225df>:10: SAWarning: implicitly coercing SELECT object to scalar subquery; please use the .scalar_subquery() method to produce a scalar subquery.
  .filter(Business.business_id == subquery_business)

Attributes: {"WiFi": "'free'", "HasTV": "True", "Caters": "False", "Alcohol": "u'full_bar'", "Ambience": "{'touristy': None, 'hipster': False, 'romantic': False, 'divey': False, 'intimate': False, 'trendy': False, 'upscale': False, 'classy': False, 'casual': True}", "HappyHour": "True", "NoiseLevel": "u'average'", "BikeParking": "True", "DogsAllowed": "False", "GoodForKids": "True", "GoodForMeal": "{'dessert': None, 'latenight': False, 'lunch': True, 'dinner': True, 'brunch': False, 'breakfast': False}", "OutdoorSeating": "True", "BusinessParking": "{'garage': True, 'street': True, 'validated': False, 'lot': True, 'valet': False}", "RestaurantsAttire": "u'casual'", "RestaurantsTakeOut": "True", "RestaurantsDelivery": "True", "RestaurantsPriceRange2": "2", "RestaurantsReservations": "False", "RestaurantsTableService": "True", "RestaurantsGoodForGroups": "True", "BusinessAcceptsCreditCards": "True"}